<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>风控管理</a></li>
            <li class="active"><strong>卡bin新增</strong></li>
        </ol>
    </div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn"
     ng-controller="addCardBinsCtrl">
    <form class="form-horizontal" id="form1" name="horizontal">
        <div class="form-group">
            <div ui-view="cardBinsCommon"></div>
            <div class="col-lg-12 bgff">
                <div class="col-sm-12">
                    <div class="col-lg-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-mr20" type="button"
                                ng-click="submit()" ng-disabled="horizontal.$invalid || submitting">提交</button>
                        <a class="btn btn-primary4" ui-sref="risk.cardBins" >返回</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>