<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>基本信息</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="col-lg-2 control-label"><i class="red_req">*</i>业务类型:</label>
                <div class="col-lg-3">
                    <select class="form-control"  ng-model="info.businessType" required ng-options="x.value as x.text for x in businessTypes">
                    </select>
                    <div class="req_mesg" ng-show="horizontal.businessType.$dirty && horizontal.businessType.$invalid">
                        <span ng-show="horizontal.businessType.$error.required">业务类型不能为空</span>
                    </div>
                </div>
                <label class="col-lg-2 control-label"><i class="red_req">*</i>卡种:</label>
                <div class="col-lg-3">
                    <select class="form-control"  ng-model="info.cardType" required ng-options="x.value as x.text for x in cardTypeSelect">
                    </select>
                    <div class="req_mesg" ng-show="horizontal.cardType.$dirty && horizontal.cardType.$invalid">
                        <span ng-show="horizontal.cardType.$error.required">卡种不能为空</span>
                    </div>

                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-2 control-label"><i class="red_req">*</i>卡bin/全卡号:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="info.cardNo" required />
                    <div class="req_mesg" ng-show="horizontal.cardNo.$dirty && horizontal.cardNo.$invalid">
                        <span ng-show="horizontal.cardNo.$error.required">卡bin/全卡号不能为空</span>
                    </div>
                </div>
                <label class="col-lg-2 control-label" ng-show="info.businessType!=1"><i class="red_req">*</i>全卡号位数:</label>
                <div class="col-lg-3" ng-show="info.businessType!=1">
                    <input type="text" class="form-control" ng-model="info.cardDigit" ng-required="info.businessType!=1" />
                    <div class="req_mesg" ng-show="horizontal.cardDigit.$dirty && horizontal.cardDigit.$invalid">
                        <span ng-show="horizontal.cardDigit.$error.required">全卡号位数不能为空</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-2 control-label"></label>
                <div class="col-lg-4">
                    <span>注：(1)可输入卡bin:以此卡bin开头的银行卡需全部生效；(2)可输入全卡号</span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-2 control-label"><i class="red_req">*</i>状态:</label>
                <div class="col-lg-3">
                    <select class="form-control"  ng-model="info.state" required ng-options="x.value as x.text for x in stateSelect">
                    </select>
                    <div class="req_mesg" ng-show="horizontal.state.$dirty && horizontal.state.$invalid">
                        <span ng-show="horizontal.state.$error.required">状态不能为空</span>
                    </div>
                </div>
                <label class="col-lg-2 control-label"><i class="red_req" ng-show="info.businessType!=2">*</i>发卡行:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="info.cardBank" ng-required="info.businessType!=2" />
                    <div class="req_mesg" ng-show="horizontal.cardBank.$dirty && horizontal.cardBank.$invalid && info.businessType!=2">
                        <span ng-show="horizontal.cardBank.$error.required">发行卡行不能为空</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-2 control-label">卡类型:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="info.cardStyle" />
                </div>
                <label class="col-lg-2 control-label">交易币种:</label>
                <div class="col-lg-3">
                    <select class="form-control"  ng-model="info.currency" ng-options="x.value as x.text for x in currencySelect">
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-lg-2 control-label">备注:</label>
                <div class="col-lg-3">
                    <textarea class="form-control" maxlength="50" rows="4" cols="10" ng-model="info.remarks"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
