<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>超级银行家</a></li>
            <li class="active"><strong>敏感词查询</strong></li>
        </ol>
    </div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn" ng-app
     ng-controller="leadInSensitiveWordsCtrl">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>关键字批量导入</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">导入文件：</label>
                            <div class="col-sm-3">
                                <input type="file" nv-file-select="" ng-model="fileSelect"
                                       uploader="uploader" multiple />
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-danger btn-xs"
                                                    ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span>删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm-3">
                                <a href="sensitiveWords/downloadTemplate" >批量新增模板</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 bgff">
            <div class="col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-rounded btn-block" type="button"
                            ng-disabled="submitting" ng-click="submit()">提交</button>
                </div>
                <a class="btn btn-primary4" type="button" ui-sref="superBank.sensitive">返回</a>
            </div>
        </div>
    </form>
</div>