<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">主页</a></li>
            <li>超级银行家</li>
            <li class="active"><strong>收款订单查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="receiveOrderCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>收款订单查询</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单ID：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.orderNo">
                            </div>
                            <label class="col-sm-2 control-label">订单状态：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="baseInfo.status" ng-options="x.value as x.text for x in statusList">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">创建时间：</label>
                            <div class="col-sm-6">
                                <input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.createDateStart" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
                                ~
                                <input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.createDateEnd" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="col-sm-2 control-label">本级ID/名称：</label>
                            <div class="col-sm-2">
                                <select name="autocomplete-select" id="autocomplete-select" ng-model="baseInfo.oneUserCode" ng-options="x.userCode as x.userName for x in userInfoList"
                                        style="width: 100%" chosen chosen-data="userInfoList" chosen-keyup="getUserInfoList">
                                </select>
                            </div>-->
                            <!--<div class="col-sm-2">
                                <select name="autocomplete-select" id="autocomplete-select" ng-model="baseInfo.agentN" ng-options="x.value as x.text for x in userInfoList"
                                        style="width: 100%" chosen chosen-data="userInfoList" chosen-keyup="getStates" >
                                </select>
                             </div>-->
                            <label class="col-sm-2 control-label">贡献人ID：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.userCode">
                            </div>
                            <label class="col-sm-2 control-label">收款商户ID：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.receiveAgentId">
                            </div>
                            <label class="col-sm-2 control-label">关联收款订单号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.payOrderNo">
                            </div>
                        </div>
                       <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">订单手机号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.orderPhone">
                            </div>
                            <label class="col-sm-2 control-label">订单证件号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.orderIdNo">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">组织名称：</label>
                            <div class="col-sm-2">
                                <select chosen="{width:'100%'}" id="autocomplete-select2" class="chosen-select" tabindex="5" ng-model="baseInfo.orgId" ng-options="x.orgId as x.orgName for x in orgInfoList">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 30px">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-primary6 btn-mr20"  ng-click="query()" ng-disabled="submitting">查询</button>
                                <button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
                                <button class="btn btn-primary7 btn-mr20" type="button" ng-click="exportInfo()"
                                        ng-show="hasPermit('superBank.exportReceiveOrder')">导出</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>收款订单列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <div class="col-sm-3 checkbox">奖励总金额：<span ng-bind="orderMainSum.totalBonusSum | currency:''"></span>元</div>
                            <div class="col-sm-3 checkbox">平台分润汇总：<span ng-bind="orderMainSum.plateProfitSum | currency:''"></span>元</div>
                            <div class="col-sm-3 checkbox">品牌分润汇总：<span ng-bind="orderMainSum.orgProfitSum | currency:''"></span>元</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 checkbox">平台实际分润汇总：<span
                                    ng-bind="orderMainSum.actualSum | currency:''"></span>元
                            </div>
                            <div class="col-sm-3 checkbox">领地业务分红汇总：<span
                                    ng-bind="orderMainSum.territorySum | currency:''"></span>元
                            </div>
                        </div>
                        <div class="tposition">
                            <div class="gridStyle" ui-grid="orderGrid" ui-grid-selection ui-grid-pagination
                                 ui-grid-resize-columns ui-grid-pinning></div>
                            <div ng-show="loadImg" class="timg"></div>
                        </div>

                    </div>
                </div>
                <div style="height:30px;"></div>
            </div>
        </div>
    </form>
</div>
