<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="">主页</a></li>
            <li>银行家</li>
            <li class="active"><strong>积分商城订单查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="superExchangeOrderCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>积分商城订单查询</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单ID：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.orderNo">
                            </div>
                            <label class="col-sm-2 control-label">关联订单ID：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.payOrderNo">
                            </div>
                            <label class="col-sm-2 control-label">订单状态：</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="baseInfo.status" ng-options="x.value as x.text for x in statusList">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属组织：</label>
                            <div class="col-sm-2">
                                <select chosen="{width:'100%'}" id="autocomplete-select2" class="chosen-select" tabindex="5" ng-model="baseInfo.orgId" ng-options="x.orgId as x.orgName for x in orgInfoList">
                                    <option value=""></option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">兑换产品名称：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.orderName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">贡献人ID：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.userCode">
                            </div>
                            <label class="col-sm-2 control-label">贡献人名称：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.userName">
                            </div>
                            <label class="col-sm-2 control-label">贡献人手机号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="baseInfo.sharePhone">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单创建时间：</label>
                            <div class="col-sm-6">
                                <input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.createDateStart" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
                                ~
                                <input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.createDateEnd" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
                            </div>
                        </div>

                        <div class="form-group col-sm-12" style="text-align: right; color: #0e9aef;cursor:pointer;"
                             ng-click="changeCondition()">
                            {{condition.conditionMsg}}
                        </div>
                        <div ng-show="condition.conditionStatus">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">一级编号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.oneUserCode">
                                </div>
                                <label class="col-sm-2 control-label">一级名称：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.oneUserName">
                                </div>
                                <label class="col-sm-2 control-label">一级身份：</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="baseInfo.oneUserType"
                                            ng-options="x.value as x.text for x in userTypeList">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">二级编号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.twoUserCode">
                                </div>
                                <label class="col-sm-2 control-label">二级名称：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.twoUserName">
                                </div>
                                <label class="col-sm-2 control-label">二级身份：</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="baseInfo.twoUserType"
                                            ng-options="x.value as x.text for x in userTypeList">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">三级编号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.thrUserCode">
                                </div>
                                <label class="col-sm-2 control-label">三级名称：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.thrUserName">
                                </div>
                                <label class="col-sm-2 control-label">三级身份：</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="baseInfo.thrUserType"
                                            ng-options="x.value as x.text for x in userTypeList">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">四级编号：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.fouUserCode">
                                </div>
                                <label class="col-sm-2 control-label">四级名称：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.fouUserName">
                                </div>
                                <label class="col-sm-2 control-label">四级身份：</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="baseInfo.fouUserType"
                                            ng-options="x.value as x.text for x in userTypeList">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">订单贡献人所属区域：</label>
                                <div class="col-lg-2">
                                    <select class="form-control input-s-sm inline" ng-model="baseInfo.openProvince"
                                            ng-change="getCities()"
                                            ng-options="x.name as x.name for x in provinceGroup"/>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control input-s-sm inline" ng-model="baseInfo.openCity"
                                            ng-change="getAreas()" ng-options="x.name as x.name for x in cityGroup"/>
                                </div>
                                <div class="col-lg-2">
                                    <select class="form-control input-s-sm inline" ng-model="baseInfo.openRegion"
                                            ng-options="x.name as x.name for x in areaGroup"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">订单贡献人备注：</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="baseInfo.remark">
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 30px">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-primary6 btn-mr20"  ng-click="query()" ng-disabled="submitting">查询</button>
                                <button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
                                <button class="btn btn-primary7 btn-mr20" type="button" ng-click="exportInfo()"
                                        ng-show="hasPermit('superBank.exportAgentOrder')">导出</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>积分兑换订单列表</h5>
                    </div>

                    <div class="ibox-content">
                        <div class="form-group">
                            <div class="col-sm-3 checkbox">平台分润汇总：<span ng-bind="orderMainSum.plateProfitSum | currency:''"></span>元</div>
                            <div class="col-sm-3 checkbox">品牌分润汇总：<span ng-bind="orderMainSum.orgProfitSum | currency:''"></span>元</div>
                        </div>
                        <div class="tposition">
                            <div class="gridStyle" ui-grid="orderGrid" ui-grid-selection ui-grid-pagination
                                 ui-grid-resize-columns ui-grid-pinning></div>
                            <div ng-show="loadImg" class="timg"></div>
                        </div>

                    </div>
                </div>
                <div style="height:30px;"></div>
            </div>
        </div>
    </form>

</div>
