<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>管理中心</a></li>
			<li class="active"><strong>推送内容修改</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="saveOrUpdatePushManagerCrtl">
	<form class="form-horizontal" id="form1" name="horizontal">
			<div class="row">
				<div class="col-lg-12">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-content">

								<div ui-view="pushManagercommon"></div>
							</div>
					</div>
				</div>
			</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary btn-mr20" type="button" ng-disabled="horizontal.$invalid || submitting" ng-click="commitPushManager()">提交</button>
								<a class="btn btn-primary4" type="button"  ui-sref="sys.pushManager">返回</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</form>


</div>