<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="index.html">主页</a></li>
			<li>活动查询</li>
			<li class="active"><strong>商户收益查询</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="merchantProfitQueryCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>商户收益查询</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">商户编号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.merchantNo">
							</div>
							<label class="col-sm-2 control-label">商户名称：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.merchantName">
							</div>
							<label class="col-sm-2 control-label">商户手机号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.mobilephone">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">直属代理商：</label>
							<div class="col-sm-2">
								<select name="autocomplete-select" id="autocomplete-select" ng-model="baseInfo.agentNo" ng-options="x.value as x.text for x in agent" 
									style="width: 100%" chosen chosen-data="agent" chosen-keyup="getStates">
								</select>
							</div>
							<label class="col-sm-2 control-label">时间：</label>
							<div class="col-sm-5">
								<input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.sTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')||\'%y-%M-%d\'}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.eTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">交易金额：</label>
							<div class="col-sm-3">
								<input type="text" ng-model="baseInfo.sTransAmount" class="form-control ng-pristine ng-untouched ng-valid ng-empty" 
									style="width:40%;display:inline-block" >
								~
								<input type="text" ng-model="baseInfo.eTransAmount" class="form-control ng-pristine ng-untouched ng-valid ng-empty" 
									style="width:40%;display:inline-block" >
							</div>
							<label class="col-sm-1 control-label">收益金额：</label>
							<div class="col-sm-3">
								<input type="text" ng-model="baseInfo.sMerchantProfit" class="form-control ng-pristine ng-untouched ng-valid ng-empty" 
									style="width:40%;display:inline-block" >
								~
								<input type="text" ng-model="baseInfo.eMerchantProfit" class="form-control ng-pristine ng-untouched ng-valid ng-empty" 
									style="width:40%;display:inline-block" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">关联交易订单：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.orderNo">
							</div>
							<label class="col-sm-2 control-label">活动类型：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.activityCode" ng-options="x.value as x.text for x in activityCodeSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20"  ng-click="query()">查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
								<button class="btn btn-new btn-mr20" type="button" ng-click="exportInfo()" >导出</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>商户收益查询列表</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<div class="col-sm-3 checkbox">
								收益金额:
								<span class="ng-binding">{{merchantProfitCount}}</span>
							</div>
						</div>
						<div class="gridStyle" ui-grid="merchantProfitGrid" ui-grid-selection ui-grid-pagination
							 ui-grid-resize-columns ui-grid-pinning>
							<div ng-show="loadImg" class="timg"></div>
						</div>
					</div>
				</div>
				<div style="height:30px;"></div>
			</div>
		</div>
	</form>
</div>
