/.svn/
/doc/
/target/
/tarForBoss2/
/.classpath
/build*.xml
/.idea/
*.iml

/bin/
/.project
/.settings/

.externalToolBuilders/
src/.idea/compiler.xml
src/.idea/copyright/profiles_settings.xml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/workspace.xml
