<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>信用卡管家</a></li>
			<li class="active"><strong>订单管理</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="orderManageCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>订单查询</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">订单ID:</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="info.tradeNo">
							</div>
							<label class="col-sm-2 control-label">组织编号:</label>
							<div class="col-sm-2">
								<select name="autocomplete-select" id="autocomplete-select" ng-model="info.orgId" ng-options="x.value as x.text for x in org"
									style="width: 100%" chosen chosen-data="org">
								</select>
							</div>
							<label class="col-sm-2 control-label">代理商编号/名称：</label>
							<div class="col-sm-2">
								<select name="autocomplete-select" id="autocomplete-select" ng-model="info.agentNo" ng-options="x.value as x.text for x in agent" 
									style="width: 100%" chosen chosen-data="agent" chosen-keyup="getStates">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">订单状态:</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="info.transStatus" ng-options="x.value as x.text for x in transStatusSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
							<label class="col-sm-2 control-label">支付方式:</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="info.transType" ng-options="x.value as x.text for x in transTypeSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">会员到期时间:</label>
							<div class="col-sm-5">
								<input id="d5221" class="form-control" type="datetime" ng-model="info.sExpireTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="info.eExpireTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" ng-click="query()">查询</button>
								<button class="btn btn-primary3 btn-mr20" ng-click="resetForm()">清空</button>
								<button class="btn btn-new btn-mr20" ng-click="exportInfo()">导出</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>订单列表</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<div class="col-sm-3 checkbox">
								订单总笔数:
								<span class="ng-binding">{{myGrid.totalItems}}笔</span>
							</div>
							<div class="col-sm-3 checkbox">
								订单总金额:
								<span ng-bind="sumAmount | currency:''"></span>
								元
							</div>
						</div>
						<div class="gridStyle" ui-grid="myGrid" ui-grid-selection ui-grid-pagination
							ui-grid-resize-columns ui-grid-pinning>
							<div ng-show="loadImg" class="timg"></div>
						</div>
					</div>
				</div>
				<div style="height:30px;"></div>
			</div>
		</div>
	</form>
</div>