<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>信用卡管家</a></li>
			<li class="active"><strong>用户管理</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="cmUserManageCtrl">
	<form class="form-horizontal" id="form1" name="horizontal" novalidate>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>基本信息</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">用户ID:</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="info.userNo">
							</div>
							<label class="col-sm-2 control-label">来源组织:</label>
							<div class="col-sm-2">
								<select name="autocomplete-select" id="autocomplete-select" ng-model="info.srcOrgId" ng-options="x.value as x.text for x in org"
									style="width: 100%" chosen chosen-data="org">
								</select>
							</div>
							<label class="col-sm-2 control-label">手机号码:</label>
							<div class="col-sm-2" >
								<input ng-model="info.mobileNo" type="text" class="form-control" name="mobileNo" ng-pattern="/^1[3-9]\d{9}$/">
								<div class="req_mesg" ng-show="horizontal.mobileNo.$dirty && horizontal.mobileNo.$invalid">
									<span ng-show="horizontal.mobileNo.$error.pattern">输入手机号有误，请重新输入!</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">来源用户/商户编号:</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="info.srcUserId">
							</div>
							<label class="col-sm-2 control-label">代理商编号/名称：</label>
							<div class="col-sm-2">
								<select name="autocomplete-select" id="autocomplete-select" ng-model="info.agentNode" ng-options="x.value as x.text for x in agent" 
									style="width: 100%" chosen chosen-data="agent" chosen-keyup="getStates">
								</select>
							</div>
							<label class="col-sm-2 control-label">包含下级:</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="info.contain">
									<option value="1" selected>是</option>
									<option value="0" selected>否</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">会员类型:</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="info.userType" ng-options="x.value as x.text for x in userTypeSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
							<label class="col-sm-2 control-label">入驻时间:</label>
							<div class="col-sm-5">
								<input id="d5221" class="form-control" type="datetime" ng-model="info.sCreateTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')||\'%y-%M-%d\'}'})"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="info.eCreateTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20" ng-disabled="horizontal.$invalid || submitting" ng-click="query()">查询</button>
								<button class="btn btn-primary3 btn-mr20" ng-click="resetForm()">清空</button>
								<button class="btn btn-new btn-mr20" ng-click="exportInfo()">导出</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>用户列表</h5>
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="myGrid" ui-grid-selection ui-grid-pagination
							ui-grid-resize-columns ui-grid-pinning>
							<div ng-show="loadImg" class="timg"></div>
						</div>
					</div>
				</div>
				<div style="height:30px;"></div>
			</div>
		</div>
	</form>
</div>