<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">主页</a></li>
            <li><a>超级银行家-红包</a></li>
            <li class="active"><strong>红包业务管理</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="redControlCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>红包业务管理</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="form1">
                        <div class="panel-body ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="gridStyle" ui-grid="grid" ui-grid-pagination ui-grid-pinning ui-grid-resize-columns></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 30px;"></div>
</div>