<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>代理商工单</a></li>
            <li class="active"><strong>工单类型详情
            </strong></li>
        </ol>
    </div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn"
     ng-controller="workTypeDetailCtrl">
    <form class="form-horizontal" id="form1" name="horizontal">
        <div style="background: #fff; padding:50px 0;">
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="red_req">*</i>类型名称：</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control"  readonly  ng-model="info.name" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">代理商是否可发起：</label>
                <div class="col-sm-4 checkbox ">
                    <label ><input type="radio" disabled ng-model="info.agentShow" value="0" />否</label>
                    <label ><input type="radio" disabled  ng-model="info.agentShow" value="1" />是</label>
                    <label style="color: silver;" class="control-label">(勾选否后代理商不可提交此类型的工单)</label>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label" ><i class="red_req">*</i>回复方式：</label>
                <div class="col-sm-6" style="width: 400px;">
                    <select class="form-control" ng-model="info.replyType"  disabled  ng-options="x.value as x.text for x in replyTypeSelect"/>
                </div>

            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label" style="float: left;"><i class="red_req">*</i>处理流程：</label>
                <label style="color: silver;" class="control-label">添加该工单类型处理流程及对应归属的部门</label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div style="display: inline-block; padding-right: 10px; line-height: 50px; float:left"  ng-repeat="m in dealProcessArr">
                    <div ng-click="editFlowInfo(m.index)">{{m.deptName}} 一></div>
                </div>

            </div>

            <div class="form-group" >
                <label class="col-sm-2 control-label" style="float: left;"><i class="red_req">*</i>类型说明：</label>
                <div class="col-lg-8">
                    <div style="height: 250px;overflow:hidden;overflow-y:scroll" class="form-control" ng-bind-html="info.desc | trustHtml" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="imgList!=null && imgList.length>0">
                <label class="col-sm-2 control-label" style="float: left;">示例图片：</label>
                <div class="col-sm-10" style="margin: 10px auto;text-align: center;">
                    <div class="col-img" ng-if="imgList!=null && imgList.length>0" data-ng-repeat="x in imgList">
                        <a style="width: 50%;" href="{{x.entity.realUrl}}" fancybox rel="detailImgs">
                            <img width="150" height="100" ng-src="{{x.entity.realUrl}}"/>
                        </a>
                        <div style="text-align: center;">{{x.entity.fileName}}</div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <button class="btn btn-primary8" type="button" ui-sref="workOrder.workOrderType" >返回</button>
                </div>
            </div>
        </div>
    </form>

    <form class="form-horizontal" id="addFlowForm" name="flowHorizontal" novalidate>
        <div id="flowModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="width: 900px">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>所属部门：</label>
                            <div class="col-sm-4">
                                <select class="form-control"  disabled ng-model="flowInfo.deptNo"  ng-options="x.value as x.text for x in deptSelect"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>流程说明：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" disabled ng-model="flowInfo.flowDesc" required >
                            </div>

                        </div>

                        <div class="form-group" ng-if="flowInfo.deptNo=='999'">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>截止回复：</label>
                            <div class="col-sm-4">
                                <select class="form-control" disabled ng-model="flowInfo.endReplyDays" required  ng-options="x.value as x.text for x in endReplyDaysSelect"/>
                            </div>
                            <label style="color: silver;" class="control-label">截止回复天数按工作日自然天计算</label>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-6">
                                <button class="btn btn-primary8" type="button" ng-click='hideAddFlowModal()'>取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

