<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>代理商工单</a></li>
            <li class="active"><strong>驳回工单
            </strong></li>
        </ol>
    </div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn"
     ng-controller="workOrderRejectCtrl">
    <form class="form-horizontal" id="form1" name="horizontal">
        <div style="background: #fff; padding:50px 0;">
            <div class="form-group">
                <label class="col-sm-2 control-label"><i class="red_req">*</i>驳回节点：</label>
                <div class="col-sm-2">

                    <select class="form-control" ng-model="rejectInfo.receiverFlowNo" name="receiverFlowNo" required  ng-options="x.flowNo as x.deptName for x in rejectInfo.preNodes"/>
                </div>
                <div class="req_mesg" ng-show="horizontal.receiverFlowNo.$dirty && horizontal.receiverFlowNo.$invalid">
                    <span ng-show="horizontal.receiverFlowNo.$error.required">驳回节点不能为空</span>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label" ><i class="red_req">*</i>驳回原因：</label>
                <div class="col-sm-6" style="width: 400px;">
                    <textarea ng-model="info.rejectReason" maxlength="300" cols="50" rows="10" name="rejectReason" required></textarea>
                </div>
                <div class="req_mesg" ng-show="horizontal.rejectReason.$dirty && horizontal.rejectReason.$invalid">
                    <span ng-show="horizontal.rejectReason.$error.required">驳回原因不能为空</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-6">
                    <button ng-disabled="horizontal.$invalid || submitting" class="btn btn-primary" type="button" ng-click='reject()'>提交</button>
                    <button class="btn btn-primary8" type="button" ng-click="back()" >返回</button>
                </div>
            </div>
        </div>
    </form>

</div>

