<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>销售查询菜单</a></li>
			<li class="active"><strong>查询代理商</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="saleQueryAgentCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<h5>代理商查询</h5>
								<!--<div ibox-tools="" class="ng-scope">-->
									<!--<div class="ibox-tools dropdown" dropdown="">-->
									<!--</div>-->
								<!--</div>-->
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label">代理商名称：</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" ng-model="baseInfo.agentName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">代理商编号：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="baseInfo.agentNo">
									</div>
									<label ng-show="baseInfo.agentNo!=null" class="col-sm-2 control-label">是否包含下级：</label>
									<div class="col-sm-2" ng-show="baseInfo.agentNo!=null">
										<select class="form-control" ng-model="baseInfo.hasSub" ng-options="x.value as x.text for x in bool">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">分润设置审核：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.shareCheck" ng-options="x.value as x.text for x in checkStatus">
										</select>
									</div>
									<label class="col-sm-2 control-label">分润设置锁定：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.shareLock" ng-options="x.value as x.text for x in lockStatus">
										</select>
									</div>
								</div>
								<!-- <div class="form-group">
									<label class="col-sm-2 control-label">商户服务管控费率审核：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.rateCheck" ng-options="x.value as x.text for x in checkStatus">
										</select>
									</div>
									<label class="col-sm-2 control-label">商户服务管控费率锁定：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.rateLock" ng-options="x.value as x.text for x in lockStatus">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">商户服务管控限额审核：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.quotaCheck" ng-options="x.value as x.text for x in checkStatus">
										</select>
									</div>
									<label class="col-sm-2 control-label">商户服务管控限额锁定：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.quotaLock" ng-options="x.value as x.text for x in lockStatus">
										</select>
									</div>
								</div> -->
								<div class="form-group">
									<label class="col-sm-2 control-label">所属组织：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.teamId" ng-options="x.value as x.text for x in teamType">
										</select>
									</div>
									<label class="col-sm-2 control-label">级别：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.agentLevel" ng-options="x.value as x.text for x in agentLevel">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">手机号：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="baseInfo.mobilephone">
									</div>
									<label class="col-sm-2 control-label">是否开户：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="baseInfo.hasAccount" ng-options="x.value as x.text for x in boolAll">
										</select>
									</div>
								</div>

								<div class="col-lg-12 bgff">
										<div class="col-sm-2"></div>
										<div class="col-sm-6"><button class="btn btn-primary6 btn-mr20" ng-click="query()">查询</button><button class="btn btn-primary3" type="button" ng-click="resetForm()">清空</button>
										</div>
								</div>
							</div>
						</div>
						
						
						<div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
									<h5>代理商列表</h5>
									<!--<div ibox-tools="" class="ng-scope">-->
										<!--</div>-->
									</div>
								<div class="ibox-content">
									<div class="gridStyle" ui-grid="agentGrid" ui-grid-resize-columns ui-grid-pagination ui-grid-pinning></div>
								</div>
								<div style="clear: both; height: 30px;"></div>
							</div>
				</div>
			</div>
	</form>

</div>