<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>风控管理</a></li>
			<li class="active"><strong>黑名单新增</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="blacklistAddCtrl">
	<form class="form-horizontal" id="form1" name="horizontal">
			<div class="row">
				<div class="col-lg-12">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>黑名单类型：</label>
									<div class="col-sm-4">
										<select class="form-control" ng-change="rollTypeChange(info.rollType)" ng-model="info.rollType" ng-options="x.value as x.text for x in blacklistTypes" required/>
									</div>
								</div>
							
								<div class="form-group">
									<label class="col-sm-2 control-label" id="_rollNo"><i class="red_req">*</i>{{name}}：</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="rollNo" ng-model="info.rollNo" required>
										<input type="hidden" ng-model="info.rollBelong">
										<div class="req_mesg" ng-show="horizontal.rollNo.$dirty && horizontal.rollNo.$invalid">
											<span ng-show="horizontal.rollNo.$error.required">不能为空</span>
										</div>
									</div>
								</div>

								<div class="form-group" ng-if="info.rollType==8 || info.rollType==9 || info.rollType==10">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>代理商提示语：</label>
									<div class="col-sm-4">
										<select class="form-control" name="rollMsg"  ng-model="info.rollMsg" ng-options="x.msgCode as x.userMsg for x in agentTips" required/>
									</div>
									<div class="req_mesg" ng-show="horizontal.rollMsg.$dirty && horizontal.rollMsg.$invalid">
										<span ng-show="horizontal.rollMsg.$error.required">代理商提示语不能为空</span>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label">备注：</label>
									<div class="col-sm-4">
										<textarea rows="5" class="form-control" style="min-width: 350px;" cols="20" ng-model="info.remark"></textarea>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-8">
										<button class="btn btn-primary btn-mr20" type="button" ng-disabled="horizontal.$invalid || submitting" ng-click="commit()">提交</button>
										<a class="btn btn-primary4" type="button"  ui-sref="risk.blacklistQuery">返回</a>
									</div>
									
								</div>
							</div>
					</div>
				</div>
			</div>
	</form>


</div>