<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>商户管理</a></li>
			<li class="active"><strong>查询商户</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	 ng-controller="recheckQueryCtrl">
	<form class="form-horizontal" id="form1" name="horizontal">
		<div class="row">
			<div class="col-lg-12">
				<div class="">
					<div class="panel-body ibox float-e-margins">
						<div class="ibox-title">
							<h5>商户信息多条列表查询</h5>
						</div>
						<div class="ibox-content">
							<div class="form-group">
								<label class="col-sm-2 control-label">商户进件编号：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="info.mbpId">
								</div>
								<label class="col-sm-2 control-label">商户名称/编号：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="info.merchantNo" onchange="keyChange()">
									<!-- <select name="autocomplete-select" id="autocomplete-select1" onchange="keyChange()"
											ng-model="info.merchantNo" ng-options="x.value as x.text for x in merchantSelect"
											style="width: 100%" chosen chosen-data="merchantSelect" chosen-keyup="getMerchantSelect">
									</select> -->
								</div>
								<label class="col-sm-2 control-label">商户手机号：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="info.mobilephone" onchange="keyChange()">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">商户冻结状态：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.riskStatus"
											ng-options="x.value as x.text for x in riskStatusaa"/>
								</div>
								<label class="col-sm-2 control-label">业务产品状态：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.merchantExamineState"
											ng-options="x.value as x.text for x in merchantStates"/>
								</div>
								<label class="col-sm-2 control-label">商户状态：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.merStatus"
											ng-options="x.value as x.text for x in merStatusList"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">代理商名称：</label>
								<div class="col-sm-2">
									<select name="autocomplete-select" id="autocomplete-select"
											ng-model="info.agentName" ng-options="x.value as x.text for x in agent"
											style="width: 100%" chosen chosen-data="agent" chosen-keyup="getStates">
									</select>
								</div>
								<label class="col-sm-2 control-label">包含下级：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.agentNode"
											ng-options="x.value as x.text for x in IsYN"/>
								</div>
								<label class="col-sm-2 control-label">业务产品：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.productType"
											ng-options="x.bpId as x.bpName for x in productTypes"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">硬件产品种类：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.termianlType"
											ng-options="x.hpId as x.typeName for x in termianlTypes"/>
									<span class="req_mesg">(此属性暂未生效)</span>
								</div>
								<label class="col-sm-2 control-label">创建时间：</label>
								<div class="col-sm-6">
									<input id="d5221" class="form-control" type="datetime" ng-model="info.sTime"
										   onchange="" style="width:auto;display:inline-block;"
										   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTime(1,'#d5221','#d5222',93,isVerifyTime),onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')||\'%y-%M-%d\'}'})"/>
									~
									<input id="d5222" class="form-control" type="datetime" ng-model="info.eTime"
										   onchange="" style="width:auto;display:inline-block;"
										   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',changed:verifyTime(2,'#d5221','#d5222',93,isVerifyTime),minDate:'#F{$dp.$D(\'d5221\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
									<br/><span><font color="#999">备注：查询范围不能超过三个月</font></span>
								</div>
							</div>
							<div ng-show="visible">
								<div class="form-group">
									<label class="col-sm-2 control-label">身份证号码：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="info.cardId" onchange="keyChange()">
									</div>
									<label class="col-sm-2 control-label">开户名：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="info.accountName" onchange="keyChange()">
									</div>
									<label class="col-sm-2 control-label">是否开户：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.merAccount"
												ng-options="x.value as x.text for x in merAccounts"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">收单机构商户编号：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="info.acqOrgMerNo">
									</div>
									<label class="col-sm-2 control-label">自动审核结论：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.openStatus"
												ng-options="x.value as x.text for x in openStatuss"/>
									</div>
									<label class="col-sm-2 control-label">是否经过自动审核：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.autoCheckTimes"
												ng-options="x.value as x.text for x in merAccounts"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">是否参加欢乐送：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.activityType"
												ng-options="x.value as x.text for x in activityTypes"/>
									</div>
									<label class="col-sm-2 control-label">预冻结金额：</label>
									<div class="col-sm-5">
										<input type="text" ng-model="info.preFrozenMoney1" class="form-control"
											   style="width:auto;display:inline-block;"> ~
										<input type="text" ng-model="info.preFrozenMoney2" class="form-control"
											   style="width:auto;display:inline-block;">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">推广来源：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.recommendedSource"
												ng-options="x.value as x.text for x in recommendedSources"/>
									</div>

									<label class="col-sm-2 control-label">交易模式：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.tradeType"
												ng-options="x.value as x.text for x in tradeType" ng-change="changeTradeType()"/>
									</div>
									<label class="col-sm-2 control-label" id="syncLabel" style="display: none">直清同步状态：</label>
									<div class="col-sm-2" id="syncDiv" style="display: none">
										<select class="form-control" ng-model="info.syncStatus"
												ng-options="x.value as x.text for x in syncStatus"/>
									</div>

								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">所属组织：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model='info.teamId'
												ng-options="x.value as x.text for x in team">
										</select>
									</div>
									<label class="col-sm-2 control-label">所属省市：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.province"
												ng-options="x.value as x.text for x in provinceList" ng-change="changeProvince()"/>
									</div>
									<div ng-show="cityShow">
										<div class="col-sm-2"  >
											<select class="form-control" ng-model="info.city"
													ng-options="x.value as x.text for x in cityList"/>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label">复审状态：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model='info.reexamineStatus'
												ng-options="x.value as x.text for x in reexamineStatus">
										</select>
									</div>
									<label class="col-sm-2 control-label">复审人员：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.reexamineOperator" ng-options="x.text as x.text for x in recheckUsers">
											<option value="">全部</option>
										</select>
									</div>							
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">商户类型：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.merchantType"
												ng-options="x.value as x.text for x in merchantTypeLists"/>
									</div>
								</div>
								
								<div class="form-group">
								<label class="col-sm-2 control-label">复审时间：</label>
								<div class="col-sm-5">
									<input id="d5223" class="form-control" type="datetime" ng-model="info.startReexamineTime"
										   onchange="" style="width:auto;display:inline-block;"
										   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')||\'%y-%M-%d\'}'})"/>
									~
									<input id="d5224" class="form-control" type="datetime" ng-model="info.endReexamineTime"
										   onchange="" style="width:auto;display:inline-block;"
										   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5223\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
							    </div>
							</div>
							</div>
							<div class="more-term"  style="text-align:right;margin-bottom:20px;padding-right: 39px;color:#3baaff;"><span ng-click="toggle()" style="cursor:pointer;" ng-class="{true:'active',false:''}[visible]">{{mtxt}}</span></div>
							<div class="form-group">
								<div class="col-lg-12">
									<div class="col-sm-2"></div>
									<button class="btn btn-primary6 btn-mr20" type="button"
											ng-click="selectInfo()" >查询
									</button>
									<button class="btn btn-primary3 btn-mr20" type="button"
											ng-click="clear()" >清空
									</button>
								<!-- 	<button class="btn btn-new" type="button"
											ng-show="hasPermit('merchant.openAccountBatch')"
											ng-click="createAccountInfo()" style="width: 120px" id="btnSubmit">批量开户
									</button> -->
									
									<button class="btn btn-primary7" type="button" ng-show="hasPermit('recheckQuery.export')" ng-click="exportInfo()">导出</button>
									
								</div>

							</div>
						</div>
					</div>


					<div class="panel-body ibox float-e-margins">
						<div class="ibox-title">
							<h5>汇总: 记录:{{allNum.total}}&nbsp;&nbsp;&nbsp;审核通过:{{allNum.agree}}&nbsp;&nbsp;&nbsp; 审核不通过:{{allNum.disagree}} &nbsp;&nbsp;&nbsp;退件: {{allNum.refund}} &nbsp;&nbsp;&nbsp;未复审:{{allNum.init}}&nbsp;&nbsp;&nbsp;</h5>
						</div>
						
						<div class="ibox-title">
							<h5>商户信息列表</h5>
							<div class="ibox-content">
								<div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-pagination ui-grid-selection
									 ui-grid-pinning class="grid"></div>
									 <div ng-show="loadImg" class="timg"></div>
							</div>
						</div>
					</div>
					<div style="height: 30px; clear: both"></div>
				</div>
			</div>
		</div>
	</form>

	<form id="exportForm" method="post" >
		<input type="hidden" id="inputInfo" name="info" />
		<input type="hidden" name="_csrf" id="token"/>
		<input type="hidden" name="header" id="header"/>
	</form>
</div>


