<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>风控管理</a></li>
			<li class="active"><strong>风控问题修改</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="riskProblemUpCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel-body ibox float-e-margins">
						<div class="ibox-content">
							<div class="form-group">
								<label class="col-sm-2 control-label">问题分类：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="info.problemType" ng-options="x.value as x.text for x in problemTypes"/>
								</div>
								<label class="col-sm-2 control-label">风控规则编号：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="info.riskRulesNo">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">问题标题：</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="info.problemTitle">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">问题描述：</label>
								<div class="col-sm-5">
									<textarea class="form-control" rows="5" ng-model="info.problemDescription"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">处理人员：</label>
								<div class="col-sm-2" style="line-height: 36px;" ng-bind="info.userName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">处理措施：</label>
								<div class="col-sm-5">
									<textarea class="form-control" ng-model="info.dealMeasures" rows="5"></textarea>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel-body ibox float-e-margins" ng-show="recordDate.length!=0">
						<div class="ibox-content">
							<div class="ibox-title">
								<h5>审核记录</h5>
							</div> 
							<div class="form-group">
								<div ui-grid="riskProblemRecordGrid" ui-grid-resize-columns class="grid"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 bgff">
						<div class="col-lg-12">
							<label class="col-sm-2 control-label"></label>
							<button class="btn btn-primary btn-mr20" type="button" ng-disabled="submitting" ng-click="commit()">确定</button>
							<button ng-show="recordDate.length!=0" class="btn btn-new btn-mr20" type="button" ng-click="commitAudit()">确定并再次提交审核</button>
							<a class="btn btn-primary4" type="button"  ui-sref="risk.riskProblemMag">返回</a>
						</div>
					</div>
					
				</div>
			</div>
	</form>


</div>