<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>碰一碰</a></li>
			<li class="active"><strong>用户管理</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="nfcManageCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>用户查询</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">用户编号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.merchantNo">
							</div>
							<label class="col-sm-2 control-label">手机号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.mobileNo">
							</div>
							<label class="col-sm-2 control-label">收款商户号：</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.proMerNo">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">服务商名称/编号：</label>
							<div class="col-sm-2">
								<select name="autocomplete-select" id="autocomplete-select" ng-model="baseInfo.agentNo" ng-options="x.value as x.text for x in agent" 
									style="width: 100%" chosen chosen-data="agent" chosen-keyup="getStates">
								</select>
							</div>
							<label class="col-sm-2 control-label">开户状态：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.merAccount" ng-options="x.value as x.text for x in merAccountSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
							<label class="col-sm-2 control-label">用户状态：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.status" ng-options="x.value as x.text for x in statusSelect">
									<option value="" selected>全部</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">入驻时间：</label>
							<div class="col-sm-5">
								<input id="d5221" class="form-control" type="datetime" ng-model="baseInfo.sEnterTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d5222=$dp.$('d5222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5222.focus();},maxDate:'#F{$dp.$D(\'d5222\')}'})" autocomplete="off"/>
								~
								<input id="d5222" class="form-control" type="datetime"  ng-model="baseInfo.eEnterTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5221\')}'})" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">激活时间：</label>
							<div class="col-sm-5">
								<input id="d6221" class="form-control" type="datetime" ng-model="baseInfo.sCreateTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="var d6222=$dp.$('d6222');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',onpicked:function(){d6222.focus();},maxDate:'#F{$dp.$D(\'d6222\')}'})" autocomplete="off"/>
								~
								<input id="d6222" class="form-control" type="datetime"  ng-model="baseInfo.eCreateTime" onchange=""  style="width:auto;display:inline-block;"
									   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d6221\')}'})" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8">
								<button class="btn btn-primary6 btn-mr20"  ng-click="query()">查询</button>
								<button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
								<!--<button class="btn btn-new btn-mr20" type="button" ng-click="batchOpenAccount()"
									ng-show="hasPermit('repayMerchant.batchOpenAccount')" >批量开户</button>-->
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>查询列表</h5>
					</div>
					<div class="ibox-content">
						<div class="gridStyle" ui-grid="myGrid" ui-grid-selection ui-grid-pagination
							ui-grid-resize-columns ui-grid-pinning>
							<div ng-show="loadImg" class="timg"></div>
						</div>
					</div>
				</div>
				<div style="height:30px;"></div>
			</div>
		</div>
	</form>

	<div id="importModal" class="modal fade form-horizontal" tabindex="3" role="dialog">
		<div class="modal-dialog" style="height:300px;width: 700px">
			<div class="modal-content" style="width: 700px">
				<form class="form-horizontal" name="horizontalAcc">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h3 class="modal-title">打开/关闭用户交易</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="ibox-title">
								<h5>打开/关闭用户备注</h5>
							</div>
							<div class="col-sm-9">
								<textarea class="form-control" rows="6" cols="10" ng-model="sendData.operateDetail"></textarea>
							</div>
						</div>
					</div>
					<div class="panel-body ibox float-e-margins">
						<div class="ibox-title">
							<h5>打开/关闭用户历史备注</h5>
						</div>
						<div class="ibox-content">
							<div class="form-group">
								<div class="gridStyle" style="height: 200px;" ui-grid-resize-columns ui-grid="merStatusChangeLog"/>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="form-group control-label">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='changeStatus()'>确定</button>
								<button class="btn btn-primary4" type="button" ng-click='cancel()'
								>返回</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>