<!-- 超级银行家用户管理页面 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>超级盟主</a></li>
            <li class="active"><strong>盟主商户查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="merchantAllAgentQueryCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="ibox-title">
                                <h5>盟主商户查询</h5>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">盟主编号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.userCode">
                                </div>
                                <label class="col-sm-2 control-label">盟主姓名:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.realName">
                                </div>
                                <label class="col-sm-2 control-label">盟主手机:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" maxlength="11" ng-model="info.mobile">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商户编号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.merchantNo">
                                </div>
                                <label class="col-sm-2 control-label">商户手机:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" maxlength="11" ng-model="info.mobilePhone">
                                </div>
                                <label class="col-sm-2 control-label">盟主昵称:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.nickName">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 30px">
                                <div class="col-sm-8">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="btn btn-primary6 btn-mr20" type="button" ng-click="query()" >查询</button>
                                    <button class="btn btn-primary3 btn-mr20" type="button" ng-click="clear()" >清空</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="col-sm-2 checkbox">总计:<span ng-bind="countSet.merchantCount "></span>家</div>
                                </div>
                                <div class="form-group">
                                    <div class="gridStyle" ui-grid="merchantGrid" ui-grid-selection ui-grid-pinning ui-grid-pagination ui-grid-resize-columns></div>
                                    <div ng-show="loadImg" class="timg"></div>
                                </div>
                            </div>
                        </div>
                        <div style="height:30px"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>