<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>管理中心</a></li>
			<li class="active"><strong>APP二维码详情</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="appInfoQueryDetailCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
					<div class="">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label">APP名称：</label>
									<div class="col-sm-2 checkbox" ng-bind="info.appName">
									</div>
									<label class="col-sm-2 control-label">代理商APP名称：</label>
									<div class="col-sm-2 checkbox" ng-bind="info.parenName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">隐私政策版本号：</label>
									<div class="col-sm-2" ng-bind="info.protocolVer">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">二维码：</label>
									<div class="col-sm-2">
										<img ng-src="{{info.codeUrl}}" height="250px" width="250px"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-lg-8">
										<a ui-sref="sys.appInfo" class="btn btn-primary4" type="button">返回</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</form>

</div>