							
							<div class="form-group" >
								<label class="col-sm-2 control-label"><i class="red_req">*</i>APP名称：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="baseInfo.app" required
										ng-options="x as x.appName for x in appList"></select>
								</div>
								<label class="col-sm-2 control-label">所属组织：</label>
								<div class="col-sm-2">
								<select class="form-control" ng-model="baseInfo.app" disabled
										ng-options="x as x.teamName for x in appList"></select>
								</div>
							</div>
							<div class="form-group" >
								<label class="col-sm-2 control-label"><i class="red_req">*</i>banner位置：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-change="changeBannerPosi()" ng-model="baseInfo.bannerPosition"
										ng-options="x.value as x.text for x in bannerPosition"></select>
								</div>
								<div class="col-sm-4">
									<span style="color:red;margin-top: 7px;">
										{{bannerSize}}
									</span>
								</div>
							</div>
							<div class="form-group" >
								<label class="col-sm-2 control-label"><i class="red_req">*</i>图片：</label>
								<div class="col-lg-7">
									<input type="file" nv-file-select="" uploader="uploader"  multiple/>
									<span style="margin: 3px;color: silver;"><br>(注意:仅支持上传500KB以内的图片)</span>
									<div ng-hide="imgFlagHide">
									<input  type="button" class="btn btn-primary2" type="button" ng-click='removeAnnex()' value="清除图片" />
										<img ng-src="{{baseInfo.bannerAttachmentUrl}}" style="width: 198px;height: 100px">
									</div>
									<table class="table">
				                        <tbody>
				                            <tr ng-repeat="item in uploader.queue">
				                                <td>
				                                    <strong>{{ item.file.name }}</strong>
				                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
				                                </td>
				                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
				                                <td ng-show="uploader.isHTML5">
				                                    <div class="progress" style="margin-bottom: 0;">
				                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				                                    </div>
				                                </td>
				                                <td class="text-center">
				                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
				                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
				                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
				                                </td>
				                                <td nowrap>
				                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
				                                        <span class="glyphicon glyphicon-trash"></span> Remove
				                                    </button>
				                                </td>
				                            </tr>
				                        </tbody>
				                    </table>
								</div>
							</div>
							<div class="form-group" >
								<label class="col-sm-2 control-label"><i class="red_req">*</i>广告名称：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" name="bannerName"
										ng-model="baseInfo.bannerName" required >
									<div class="req_mesg" ng-show="horizontal.bannerName.$dirty && horizontal.bannerName.$invalid">
										<span ng-show="horizontal.bannerName.$error.required">广告名称不能为空</span>
									</div>
								</div>
								<label class="col-sm-2 control-label"><i class="red_req">*</i>权重：</label>
								<div class="col-sm-2">
								<input type="number" class="form-control" name="weight"
										ng-model="baseInfo.weight" required >
									<div class="req_mesg" ng-show="horizontal.weight.$dirty && horizontal.weight.$invalid">
										<span ng-show="horizontal.weight.$error.required">权重不能为空</span>
									</div>
								</div>
								<span class="col-sm-2" style="color:red;margin-top: 7px;">
										注：数字越小，就越优先显示
									</span>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">上线时间：</label>
								<div class="col-sm-2">
									<input type="text" date-time view="date" class="form-control" ng-model="baseInfo.onlineTime"
									 />
								</div>
								<label class="col-sm-2 control-label">下线时间：</label>
								<div class="col-sm-2">
									<input type="datetime" date-time view="date" format="YYYY-MM-DD HH:mm:ss"
								class="form-control" ng-model="baseInfo.offlineTime"
								 />
								</div>
								<div class="col-sm-2" style="color:red;margin-top: 7px;">
									注：上线/下线时间不填写则为手动控制
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">链接地址：</label> 
								<div class="col-sm-8">
									<input type="text" class="form-control"
										ng-model='baseInfo.bannerLink'  >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8">
									注：以http://开头，若要添加可编辑的网页，链接请填写如下格式:http://www.yfbpay.cn/boss/kindeditor/mainBannerHtml/*.html
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8">
									<textarea rows="5" cols="20" class="form-control"
										ng-model='baseInfo.bannerContent'  ></textarea>
								</div>
							</div>
