<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="row">
			<div class="form-group col-sm-10">
				<label class="col-lg-3 control-label">通告标题：</label>
				<div class="col-lg-7">
					<input type="text" class="form-control" ng-model="noticeInfo.title" readonly />
				</div>
			</div>
			<div class="form-group col-sm-10">
				<label class="col-lg-3 control-label">通告内容：</label>
				<div class="col-lg-7" >
				 	 <div  style="height: 250px;overflow：hidden; overflow-y:scroll" class="form-control" ng-bind-html="noticeInfo.content | trustHtml" readonly>
				 	</div> 
				</div>
			</div>
			<div class="form-group col-sm-10">
				<label class="col-lg-3 control-label">链接：</label>
				<div class="col-lg-7">
					<input type="text" class="form-control" ng-model="noticeInfo.link" readonly />
				</div>
			</div>
			<div class="form-group col-sm-10">
					<label class="col-lg-3 control-label">消息图片：</label>
					<div class="col-lg-7">
						<div ng-show="noticeInfo.messageImg!=null" class="col-sm-4" style="margin-top:7px">
							<img ng-src="{{noticeInfo.messageImgUrl}}" />
						</div>
					</div>
			</div>
			<div class="form-group col-sm-10">
				<label class="col-lg-3 control-label">附件：</label>
				<div ng-show="noticeInfo.attachmentUrl!=null" class="col-lg-7" style="padding-top: 7px">
					<a href="{{noticeInfo.attachmentUrl}}">{{noticeInfo.attachment}}</a>
				</div>
			</div>
			<div class="form-group col-sm-10">
				<label class="col-lg-3 control-label">图片标题：</label>
				<div class="col-lg-7">
					<div ng-show="noticeInfo.titleImg!=null" class="col-sm-4" style="margin-top:7px">
						<img ng-src="{{noticeInfo.titleImgUrl}}" />
					</div>
				</div>
			</div>
			<div class="form-group col-sm-10">
					<label class="col-lg-3 control-label">下发对象：</label>
					<div class="col-lg-7">
							<select class="form-control" ng-model="noticeInfo.sysType"
								ng-options="x.value as x.text for x in sysType" disabled></select>
					</div>
			</div>
		<div ng-switch on="noticeInfo.sysType" class="form-group">
			<div  ng-switch-when="1" class="col-sm-10">
				<div class="form-group">
						<label class="col-lg-3 control-label">指定代理商的商户：</label>
						<div class="col-lg-3">
						<select class="form-control " ng-model="baseInfo.agentBusiness"
							ng-options="x.value as x.text for x in agentBusiness" disabled>
						</select>
						</div>
						<div ng-switch on="baseInfo.agentBusiness">
							<div ng-switch-when="1">
								<label class="col-lg-3 control-label">指定一级代理商：</label>
								<div class="col-lg-3">
									<input type="text" class="form-control" ng-model="noticeInfo.agentName" readonly />
								</div>
							</div>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label"></label>
					<div class="col-lg-7">
						<div  style="height: 207px" class="gridStyle" ui-grid="productsGrid" ui-grid-resize-columns class="grid"></div>
					</div>
				</div>
			</div>
			
			<div  ng-switch-when="2" class="col-sm-10">
				<div class="form-group">
					<label class="col-lg-3 control-label">指定组织：</label>
					<div class="col-sm-2" data-ng-repeat="oemType in oemTypes">
						<input type="checkbox" name="oemtypecheck" disabled  checked value="{{oemType.sysValue}}"/>
						<span ng-bind="oemType.sysName"></span>
					</div>
				</div>
				<div class="form-group" ng-show="oemListResult">
					<label class="col-lg-3 control-label">指定品牌：</label>
					<div class="col-sm-2" data-ng-repeat="oemList in oemListes">
						<input type="checkbox" name="oemtypecheck" disabled  ng-checked="oemList.checkedState" value="{{oemList.brandCode}}"/>
						<span ng-bind="oemList.brandName"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">指定代理商：</label>
					<div class="col-lg-7">
						<select class="form-control" ng-model="baseInfo.isAll"
							ng-options="x.value as x.text for x in isAll" disabled></select>
					</div>
				</div>
			</div>
		</div>
			<div class="form-group" class="col-sm-10">
				<label class="col-lg-3 control-label">提示方式：</label>
				<div class="col-sm-5 checkbox ">
					<label ><input disabled type="radio" checked="checked" name="winNoticeStatus" ng-model="noticeInfo.showStatus" value="0" />非弹窗提示</label>
					<label ><input disabled type="radio" name="winNoticeStatus" ng-model="noticeInfo.showStatus" value="1" />弹窗提示(仅一次)</label>
					<label ><input disabled type="radio" name="winNoticeStatus" ng-model="noticeInfo.showStatus" value="2" />弹窗提示(每日一次)</label>
				</div>
			</div>
			<div class="form-group" class="col-sm-10">

				<label class="col-lg-3 control-label"><i class="red_req">*</i>有效时间段：</label>
				<div class="col-sm-5">
					<input id="d5231" class="form-control" type="datetime" ng-model="noticeInfo.validBeginTime| date:'yyyy-MM-dd HH:mm:ss'" onchange=""  readonly style="width:auto;display:inline-block;"/>
					~~
					<input id="d5232" class="form-control" type="datetime"  ng-model="noticeInfo.validEndTime| date:'yyyy-MM-dd HH:mm:ss'"  onchange=""  readonly style="width:auto;display:inline-block;"
						   />

				</div>
			</div>
		</div>
	</div>
</div>