<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>出款服务管理</a></li>
			<li class="active"><strong>出款服务管理</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="managerServiceCtrl">
	<form class="form-horizontal">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="form-group" hidden>
						<label class="col-sm-2 control-label">出款失败预警手机号：</label>
						<div class="col-sm-2">
							<button type="button" ng-show="hasPermit('managerService.setInfo')" class="form-control" style="width: 20%;float: right;" ng-click="openModal(4)">+</button> 
							<input type="text" class="form-control" style="width: 80%" ng-model="functionInfo.outAccountFailure">
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>出款服务查询</h5>
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<label class="col-sm-2 control-label">收单机构：</label>
						<div class="col-sm-2">
							<select class="form-control" ng-model="info.acqOrgId" ng-options="x.id as x.acqName for x in acqOrgs"/>
						</div>
						<label class="col-sm-2 control-label">服务类型：</label>
						<div class="col-sm-2">
							<select class="form-control" ng-model="info.serviceType" ng-options="x.value as x.text for x in moneyServiceTypeAll"/>
						</div>
						<label class="col-sm-2 control-label">服务名称：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.serviceName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-8">
							<input type="button" class="btn btn-primary6 btn-mr20" ng-click="query()" value='查询'>
							<input type="button" class="btn btn-primary3 btn-mr20" ng-click="reset()" value='清空'>
							<input type="button" class="btn btn-primary5" ng-show="hasPermit('managerService.insert')" ui-sref="money.addService" value='新增'>
							<input type="button" class="btn btn-new2 btn-mr20" style="margin-left: 20px;" ng-show="hasPermit('warningPeople.kingWarningPeople')" ui-sref="money.kingWarningPeople" value='预警人员管理'/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>出款服务信息表</h5>
					<!--<div ibox-tools></div>-->
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<div class="gridStyle" ui-grid="moneyServiceGrid" ui-grid-resize-columns ui-grid-pagination ui-grid-pinning></div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>其它信息修改历史记录</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<div class="gridStyle" ui-grid="updateLogGrid" ui-grid-resize-columns style="height: 250px;"></div>
					</div>
				</div>
				<div style="height: 50px;"></div>
			</div>	
		</div>
	</div> -->
	</form>
	<!-- 模态框（Modal） -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">
	                  &times;
	            </button>
	            <h3 class="modal-title">标题</h3>
	         </div>
	         <div class="modal-body">
	         	<form class="form-horizontal">
	         		<div class="form-group">
	         			<div class="col-sm-12">
							<p class="form-control-static" id="promptMsg">提示信息</p>
						</div>
	         		</div>
	         		<div class="form-group">
						<div class="col-sm-12">
							<textarea rows="5" cols="20" class="form-control" ng-model="functionInfo.mobile"/>
						</div>
	         		</div>
				</form>
	         </div>
	         <div class="modal-footer">
			    <button type="button" ng-click="confirm()" class="btn btn-primary">确定</button>
			    <button type="button" data-dismiss="modal" class="btn btn-primary8">取消</button>
			 </div>
	      </div>
		</div>
	</div>
</div>