<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>出款服务管理</a></li>
			<li class="active"><strong>修改出款服务</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="updateServiceCtrl">
	<form class="form-horizontal" name="horizontal">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>修改出款服务</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>收单机构：</label>
							<div class="col-sm-3">
								<select class="form-control" ng-model="serviceBaseInfo.acqOrgId" ng-options="x.id as x.acqName for x in acqOrgs"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>服务类型：</label>
							<div class="col-sm-3">
								<select class="form-control" ng-model="serviceBaseInfo.serviceType" ng-options="x.value as x.text for x in moneyServiceType"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>服务名称：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" readonly ng-model="serviceBaseInfo.serviceName" name="serviceName" required>
								<div class="req_mesg" ng-show="horizontal.serviceName.$dirty && horizontal.serviceName.$invalid">
									<span ng-show="horizontal.serviceName.$error.required">服务名称不能为空</span>
								</div>
							</div>
						</div>
						 <div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>每笔出款限额：</label>
							<div class="col-sm-5">
								<div class="col-sm-3" style="padding: 0"><input type="number" class="form-control " name="outAccountMinAmount" ng-model="serviceBaseInfo.outAccountMinAmount" required></div>
								<div class="col-sm-1" style="padding: 0 4px; text-align: center">-</div>
								<div class="col-sm-3" style="padding: 0"><input type="number" class="form-control col-sm-3" name="outAccountMaxAmount" ng-model="serviceBaseInfo.outAccountMaxAmount" required></div>
								<div class="req_mesg" style="display: block; width: 100%; clear: both" ng-show="horizontal.outAccountMinAmount.$dirty && horizontal.outAccountMinAmount.$invalid">
									<span ng-show="horizontal.outAccountMinAmount.$error.required">每笔出款限额最小值不能为空</span>
								</div>
								<div class="req_mesg" style="display: block; width: 100%; clear: both" ng-show="horizontal.outAccountMaxAmount.$dirty && horizontal.outAccountMaxAmount.$invalid">
									<span ng-show="horizontal.outAccountMaxAmount.$error.required">每笔出款限额最大值不能为空</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>出款限额:</label>
							<div class="col-sm-3">
								<input type="number" class="form-control" ng-model="serviceBaseInfo.dayOutAccountAmount" name="dayOutAccountAmount" required>
								<div class="req_mesg" ng-show="horizontal.dayOutAccountAmount.$dirty && horizontal.dayOutAccountAmount.$invalid">
									<span ng-show="horizontal.dayOutAccountAmount.$error.required">出款限额不能为空</span>
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="serviceBaseInfo.serviceType==11">
							<label class="col-sm-3 control-label">身份证月累积最大提现额:</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="serviceBaseInfo.icMonthMaxAmount" name="icMonthMaxAmount"  ng-pattern="/^(0\.0*[1-9]+[0-9]*$|[1-9]+[0-9]*\.[0-9]*[0-9]$|[1-9]+[0-9]*$)/">
								<div class="req_mesg" ng-show="horizontal.icMonthMaxAmount.$dirty && horizontal.icMonthMaxAmount.$invalid">
									<span ng-show="horizontal.icMonthMaxAmount.$error.pattern">身份证月累积最大提现额只能为正数</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">剩余额度：</label>
							<div class="col-sm-3">
								<p class="form-control-static">{{serviceBaseInfo.lastAmount | number:2}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">每日限额重置:</label>
							<div class="col-sm-3">
								<p class="form-control-static" ng-show="serviceBaseInfo.dayResetLimit==1">重置</p>
								<p class="form-control-static" ng-show="serviceBaseInfo.dayResetLimit==0">不重置</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>新增额度：</label>
							<div class="col-sm-3">
								<input type="number" class="form-control" ng-model="serviceBaseInfo.addAmount" name="addAmount"  ng-pattern="/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/" required>
								<div class="req_mesg" ng-show="horizontal.addAmount.$dirty && horizontal.addAmount.$invalid">
									<span ng-show="horizontal.addAmount.$error.required">新增额度不能为空</span>
									<span ng-show="horizontal.addAmount.$error.pattern">新增额度不是正确</span>
								</div>
							</div>
						</div> 
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-2">
								<label class="radio-inline">
								  <input type="radio" value="0" name="inlineRadioOptions" ng-model="serviceBaseInfo.isOverride"> 手动增加
								</label>
							</div>
							<div class="col-sm-2">
								<label class="radio-inline">
								  <input type="radio" value="1" name="inlineRadioOptions" ng-model="serviceBaseInfo.isOverride"> 手动覆盖
								</label>
							</div>
						</div> 
						<div class="form-group">
							<label class="col-sm-3 control-label">打款预警额度：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="serviceBaseInfo.outAmountWarning"><span class="req_mesg">(此属性暂未生效)</span>
							</div>
						</div> 
						<div class="form-group">
							<label class="col-sm-3 control-label">跳转服务预警额度：</label>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="serviceBaseInfo.transformationAmount"><span class="req_mesg">(此属性暂未生效)</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">优先等级：</label>
							<div class="col-sm-3">
								<select class="form-control" ng-model="serviceBaseInfo.level" ng-options="x.value as x.text for x in priorities"/>
							</div>
						</div>  
						<div class="form-group">
							<label class="col-sm-3 control-label">提现自动关闭提示：</label>
							<div class="col-sm-3">
								<textarea rows="5" cols="20" class="form-control" ng-model="serviceBaseInfo.antoCloseMsg"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">备注:</label>
							<div class="col-sm-3">
								<textarea rows="5" cols="20" class="form-control" ng-model="serviceBaseInfo.remark"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="overflow: hidden">
			<div class="col-lg-12 bgff">
				<div class="col-sm-12">
					<div class="col-sm-3"></div>
					<div class="col-sm-8">
						<button class="btn btn-primary btn-rounded btn-mr20" ng-disabled="horizontal.$invalid || submitting" type="button" ng-click="save()">提交</button>
						<button class="btn btn-primary4 btn-rounded" type="button" ui-sref="money.managerService">返回</button>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>