<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="index.html">主页</a></li>
            <li>超级银行家-红包</li>
            <li class="active"><strong>领地每日业务分红查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="dailyBusinessDividendsCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查询条件</h5>
                    </div>
                    <div class="ibox-content">
                         <div class="form-group">
                                 <label class="col-sm-1 control-label">领地:</label>
                             <div class="col-sm-2">
                                 <select class="form-control input-s-sm inline" ng-model="selected" ng-options="s.name for s in list" ng-change="c()">
                                     <option value="">全部</option>
                                 </select>
                             </div>
                             <div class="col-sm-2">
                                 <select class="form-control input-s-sm inline" ng-model="selected2" ng-options="sh.name for sh in selected.child" ng-change="c2()">
                                     <option value="">全部</option>
                                 </select>
                             </div>
                             <div class="col-sm-2">
                                 <select class="form-control input-s-sm inline" ng-model="selected3" ng-options="x.name for x in selected2.child">
                                     <option value="">全部</option>
                                 </select>
                             </div>
                             <label class="col-sm-2 control-label">领取用户所属组织：</label>
                             <div class="col-sm-2">
                                 <select chosen="{width:'100%'}" class="chosen-select" tabindex="5"
                                         ng-model="baseInfo.orgId"
                                         ng-options="org.orgId as org.orgName for org in orgs">
                                     <option value=""></option>
                                 </select>
                             </div>
                            </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">领取用户姓名：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model='baseInfo.userName'>
                            </div>
                            <label class="col-sm-2 control-label">领取用户编号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model='baseInfo.userCode'>
                            </div>
                            <label class="col-sm-2 control-label">领取用户手机号：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model='baseInfo.phone'>
                            </div>
                        </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label">收益日期：</label>
                                <div class="col-sm-6">
                                    <input id="d5223" class="form-control" type="datetime" ng-model="baseInfo.profitDateStart" onchange=""  style="width:auto;display:inline-block;"
                                           onFocus="var d5224=$dp.$('d5224');WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',onpicked:function(){d5224.focus();},maxDate:'#F{$dp.$D(\'d5224\')}'})"/>
                                    ~
                                    <input id="d5224" class="form-control" type="datetime"  ng-model="baseInfo.profitDateEnd" onchange=""  style="width:auto;display:inline-block;"
                                           onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd',minDate:'#F{$dp.$D(\'d5223\')}'})"/>
                                </div>
                                <label class="col-sm-2 control-label">领取状态：</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="baseInfo.status" ng-options="x.value as x.text for x in statusList">
                                    </select>
                                </div>
                            </div>

                        <div class="form-group" style="margin-top: 30px">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-primary6 btn-mr20"  ng-click="query()" ng-disabled="submitting">查询</button>
                                <button class="btn btn-primary3 btn-mr20" type="button" ng-click="resetForm()">清空</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查询结果</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <div class="col-sm-3 checkbox">业务分红总笔数：<span
                                    ng-bind="manorMainSum.businessSum"></span>笔
                            </div>
                            <div class="col-sm-3 checkbox">业务基准分红总金额：<span
                                    ng-bind="manorMainSum.totalBasicBusinessSum "></span>元
                            </div>
                            <div class="col-sm-3 checkbox">业务分红总金额：<span
                                    ng-bind="manorMainSum.totalBusinessSum "></span>元
                            </div>
                        </div>
                        <div class="tposition">
                            <div class="gridStyle" ui-grid="grid" ui-grid-selection ui-grid-pagination
                                 ui-grid-resize-columns ui-grid-pinning></div>
                            <div ng-show="loadImg" class="timg"></div>
                        </div>
                    </div>
                </div>
                <div style="height:30px;"></div>
            </div>
        </div>
    </form>

</div>
