<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>收单机构管理</a></li>
			<li class="active"><strong>收单机构配置修改</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="acqOrgUpdateCtrl">
	<form class="form-horizontal" id="form1" name="horizontal" novalidate>
			<div class="row">
				<div class="col-lg-12">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<h5>收单机构配置修改</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label">收单机构名称：</label>
									<div class="col-sm-2">
										<select disabled="disabled" class="form-control" ng-model="info.id" ng-options="x.value as x.text for x in acqOrgs"/>
									</div>
									<label class="col-sm-2 control-label">结算方式：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-change="checkTransHaveOut(info.settleType)" ng-model="info.settleType" ng-options="x.value as x.text for x in rey"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">允许实时T0>T1：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.realtimeT0greatert1" ng-options="x.value as x.text for x in isBool"/>
									</div>
									<label class="col-sm-2 control-label">允许T0日额>T1日额：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.dayamountT0greatert1" ng-options="x.value as x.text for x in isBool"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">冲量提醒阀值(T1-T0)：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="info.valvesAmount" name="valvesAmount" required><span class="req_mesg">(此属性暂未生效)</span>
										<div class="req_mesg" ng-show="horizontal.valvesAmount.$dirty && horizontal.valvesAmount.$invalid">
											<span ng-show="horizontal.valvesAmount.$error.required">冲量提醒阀值(T0-T1)不能为空</span>
										</div>
									</div>
									<label class="col-sm-2 control-label">日切时间点：</label>
									<div class="col-sm-2">
										<div class="input-group " clock-picker data-autoclose="true">
							                <input type="text" class="form-control" ng-model="info.dayAlteredTime">
							                <span class="input-group-addon">
							                    <span class="fa fa-clock-o"></span>
							                </span>
							            </div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"><i class="red_req">*</i>默认收单商户每日限额：</label>
									<div class="col-sm-2 ">
										<input type="text" class="form-control" ng-model="info.acqDefDayamount" ng-pattern="/^(([1-9]\d{0,9}))(\.\d{1,2})?$/" name="acqDefDayamount" required>
										<div class="req_mesg" ng-show="horizontal.acqDefDayamount.$dirty && horizontal.acqDefDayamount.$invalid">
											<span ng-show="horizontal.acqDefDayamount.$error.required">默认收单商户每日限额不能为空</span>
											<span ng-show="horizontal.acqDefDayamount.$error.pattern">请输入正确的限额</span>
										</div>
									</div>
									<label class="col-sm-2 control-label">负责人手机号：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="info.phone" name="phone" required>
										<div class="req_mesg" ng-show="horizontal.phone.$dirty && horizontal.phone.$invalid">
											<span ng-show="horizontal.phone.$error.required">负责人手机号不能为空</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">分润结算账户：</label>
									<div class="col-sm-2">
										<select class="form-control" ng-model="info.settleAccountId" ng-options="x.value as x.text for x in settleAccount"/>
									</div>
									<label class="col-sm-2 control-label">收单服务日成功交易总额阀值：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="info.acqSuccessAmount" name="acqSuccessAmount" required>
										<div class="req_mesg" ng-show="horizontal.acqSuccessAmount.$dirty && horizontal.acqSuccessAmount.$invalid">
											<span ng-show="horizontal.acqSuccessAmount.$error.required">收单服务日成功交易总额阀值不能为空</span>
										</div>
									</div>
								</div>
								<!--================ by sober ================== -->
								<div class="form-group">
									<label class="col-sm-2 control-label">IP：</label>
									<div class="col-sm-2 ">
										<input type="text" class="form-control" ng-model="info.host" name="host" required>
									</div>
									<label class="col-sm-2 control-label">端口：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="info.port" name="port" required>
									</div>
								</div>
								<!--============================================= -->
								<div class="form-group">
									<label class="col-sm-2 control-label">本收单机构的交易只能在本机构出款：</label>
									<div class="col-sm-2">
 										<!--<input type="checkbox" class="checkbox" ng-model="info.acqTransHaveOut"/> -->
										<input type="radio" ng-disabled="info.settleType == 2" ng-model="info.acqTransHaveOut" ng-value="1">是</input>
										<input type="radio" ng-disabled="info.settleType == 2" ng-model="info.acqTransHaveOut" ng-value="0">否</input>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div>
											<button class="btn btn-primary btn-mr20" type="button" ng-click="commit()" ng-disabled="horizontal.$invalid||submitting">提交</button>
											<a class="btn btn-primary4" type="button"  ui-sref="org.acqOrg">返回</a>
										</div>
									</div>
								</div>

							</div>
					</div>
				</div>
			</div>
	</form>
</div>