	<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>收单机构管理</a></li>
			<li class="active"><strong>集群中普通商户</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="routeMerCtrl">
	<form class="form-horizontal">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>集群普通商户查询</h5>
					<!--<div ibox-tools></div>-->
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<label class="col-sm-2 control-label">集群编号：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.group_code">
						</div>
						<label class="col-sm-2 control-label">集群名称：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.group_name">
						</div>
						<label class="col-sm-2 control-label">商户名称/编号：</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="info.pos_merchant_no">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-4">
							<input type="button" class="btn btn-primary6 btn-mr20" ng-click="query()" value='查询'>
							<input type="button" class="btn btn-primary3" ng-click="reset()" value='清空'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>集群普通商户信息表</h5>
					<!--<div ibox-tools></div>-->
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<div class="gridStyle" ui-grid="routeMerGrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	</form>
	<!-- 模态框（Modal） -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">
	                  &times;
	            </button>
	            <h3 class="modal-title">消息对话框</h3>
	         </div>
	         <div class="modal-body">
	         	 确定删除记录吗？
	         </div>
	         <div class="modal-footer">
			    <button type="button" ng-click="confirm()" class="btn btn-primary">确定</button>
			    <button type="button" data-dismiss="modal" class="btn btn-primary8">取消</button>
			 </div>
	      </div>
		</div>
	</div>
</div>