<!-- <div class="form-group col-sm-10"> -->
<!-- <!-- 				<label class="col-lg-3 control-label">附件：</label> --> -->
<!-- 				<div class="col-lg-7"> -->

<!-- 					 <input type="file" nv-file-select="" uploader="uploaderFile"  multiple  /> -->
					 
<!-- 						<table class="table"> -->
<!-- 		                  <tbody> -->
<!-- 		                      <tr ng-repeat="item in uploaderFile.queue"> -->
<!-- 		                          <td> -->
<!-- 		                              <strong>{{ item.file.name }}</strong> -->
<!-- 		                              <div ng-show="uploaderFile.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div> -->
<!-- 		                          </td> -->
<!-- 		                          <td ng-show="uploaderFile.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td> -->
<!-- 		                          <td ng-show="uploaderFile.isHTML5"> -->
<!-- 		                              <div class="progress" style="margin-bottom: 0;"> -->
<!-- 		                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div> -->
<!-- 		                    	</div> -->
<!-- 				                </td> -->
<!-- 				                <td class="text-center"> -->
<!-- 				                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span> -->
<!-- 				                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span> -->
<!-- 				                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span> -->
<!-- 				                </td> -->
<!-- 				                <td nowrap> -->
<!-- 				                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"> -->
<!-- 				                        <span class="glyphicon glyphicon-trash"></span> 删除 -->
<!-- 				                    </button> -->
<!-- 				                </td> -->
<!-- 				            </tr> -->
<!-- 				        </tbody> -->
<!-- 				    </table> -->
<!-- <!-- 					<div ng-hide="fileFlagHide"> --> -->
<!-- <!-- 						<input type="button" class="btn btn-primary2" type="button" ng-click='removeAnnex()' value="清除附件" /> --> -->
<!-- <!-- 						<br> --> -->
<!-- <!-- 						<div> --> -->
<!-- <!-- 							<a href="{{noticeInfo.attachmentUrl}}">{{noticeInfo.attachment}}</a> --> -->
<!-- <!-- 						</div> --> -->
<!-- <!-- 					</div> --> -->
<!-- 				</div> -->
<!-- 			</div> -->