<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="index.html">主页</a></li>
			<li><a>功能管理</a></li>
			<li class="active"><strong>行业切换活动</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="industrySwitchActivityCtrl">
	<form class="form-horizontal" id="form1" name="horizontal">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>设置：</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group" ng-show="hasPermit('func.industrySwitchActivityUpdate')">
							<label class="col-sm-2 control-label">活动开关：</label>
							<div class="col-sm-10" >
								<switch class="switch switch-s"  ng-true-value="1" ng-false-value="0"  ng-model="baseInfo.industrySwitch" ng-change='industrySwitchUpdate()'></switch>
							</div>
						</div>	
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<div class="col-lg-12">
								<div class="col-sm-1"></div>
									 <div style="background: #fff; text-align: right; overflow: hidden; padding: 10px 20px 0;">						     
									    <button class="btn btn-primary5 btn-mr20" style="float:left;" type="button" ng-show="hasPermit('func.industrySwitchActivitySave')" ng-click="hardWardAddModel()" >新增</button>					     	
									</div>
							</div>
						</div>
						<div class="tposition">
							<div ui-grid="gridOptions"  ui-grid-resize-columns ui-grid-pinning class="grid"></div>
							<div ng-show="loadImg" class="timg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div id="hardWardAddModel" class="modal fade" tabindex="3"
		 role="dialog">
		<form class="form-horizontal" id="form2">
			<div class="modal-dialog" style="height: 300px; width: 700px">
				<div class="modal-content" style="height: 300px; width: 700px">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>商户类型：</label>
							<div class="col-sm-3">
								<select chosen="{width:'100%'}"  class="chosen-select" tabindex="4" ng-model='info.acqMerchantType' ng-options="merchantType.sysValue as merchantType.sysName for merchantType in merchantTypeList"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>开始时间：</label>
							<div class="col-sm-5">
								 <input id="d5666" class="form-control" type="datetime" ng-model="info.startTime" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="var d5667=$dp.$('d5667');WdatePicker({skin:'whyGreen',dateFmt: 'HH:mm',onpicked:function(){d5667.focus();},maxDate:'#F{$dp.$D(\'d5667\')||\'%y-%M-%d\'}'})"/>
							</div>
						</div>
						<div class="form-group" id="activityTypeNo">
							<label class="col-sm-3 control-label"><i class="red_req">*</i>结束时间：</label>
							<div class="col-sm-5">
							 <input id="d5667" class="form-control" type="datetime"  ng-model="info.endTime" onchange=""  style="width:auto;display:inline-block;"
                                       onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'HH:mm',minDate:'#F{$dp.$D(\'d5666\')}',maxDate:'%y-%M-%d 23:59:59'})"/>
							</div>
						</div>
						<div class="form-group control-label">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button class="btn btn-primary btn-mr20" type="button" ng-click='industrySwitchActivitsave()'>提交</button>
								<button class="btn btn-primary8 " type="button" ng-click='cancel()'>返回</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>