<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>功能管理</a></li>
			<li class="active"><strong>{{info.activityType}}管理</strong></li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="loanAndRewardCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<h5>活动属性</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label">名称：</label>
									<div class="col-lg-2">
										<p class="form-control-static">{{info.activityName}}</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">活动简介：</label>
									<div class="col-sm-8"  style="width: 500px;">
										<textarea rows="5" cols="20" class="form-control" name="activityExplain" ng-model='info.activityExplain' required></textarea>
									</div>
								</div>
							  <div class="ibox-title">
								<h5>赠送券属性</h5>
							   </div>
							   <div class="form-group">
							   		<label class="col-sm-2 control-label">优先级：</label>
									<div class="col-lg-2">
										<select class="form-control" ng-model="info.activityFirst">
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
										</select>
										
									</div>
								</div>
								
								<div class="form-group">
								<label class="col-sm-2 control-label">类型：</label>
										<div class="col-lg-2">
											<p class="form-control-static">{{info.activetiyType}}</p>
										</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">可获取数量：</label>
									<div class="col-lg-2">
									 <input ng-model="info.couponCount" type="text" class="form-control" ng-blur="isNum(info,'couponCount')" required>
									</div><span style="float: left;height: 36px;line-height: 36px;">（-1表示不限）</span>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">用途：</label>
									<div class="col-lg-2" style="">
										<p class="form-control-static">{{info.cancelVerificationCode}}</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">下发通知：</label>
									<div class="col-sm-8" style="width: 500px;">
										<textarea rows="5" cols="20" class="form-control" name="activityNotice" ng-model='info.activityNotice' required></textarea>
									</div>
								</div>
								
								
								<div class="ibox-content">
									<div class="form-group">
										<div style="height:290px" ui-grid="myGrid" ui-grid-resize-columns class="grid"></div>
									</div>
								</div>
								
								
								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-4">
									<button ng-show="couponEdit" class="btn btn-primary btn-rounded "  type="button" id="btnSubmit" ng-click="commit()" ng-disabled="horizontal.$invalid || info.couponAmount==null
						        			|| info.couponCount==null || info.effectiveDays==null  || subDisable">提交</button>
										<a type="button" class="btn btn-primary4" ui-sref="func.couponActivity">返回</a>
										
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
	</form>
</div>