<div class="form-group">
    <label class="col-sm-2 control-label"><i class="red_req">*</i>错误码：</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="msgCode" ng-model="info.msgCode" disabled>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"><i class="red_req">*</i>消息类型：</label>
    <div class="col-sm-2">
        <select class="form-control"  ng-model="info.msgType" ng-options="x.value as x.text for x in msgTypeList" />
    </div>
    <label class="col-sm-2 control-label"><i class="red_req">*</i>模块名：</label>
    <div class="col-sm-2">
        <select class="form-control"  ng-model="info.moduleName" ng-options="x.value as x.text for x in modelTypeList" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><i class="red_req">*</i>提示信息：</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="userMsg" ng-model="info.userMsg" required ng-maxlength="250">
    </div>
    <div class="req_mesg" ng-show="horizontal.userMsg.$dirty && horizontal.userMsg.$invalid">
        <span ng-show="horizontal.userMsg.$error.required">提示信息不能为空</span>
        <span ng-show="horizontal.userMsg.$error.maxlength">不能超过250个字符</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><i class="red_req">*</i>错误原因：</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="reason" ng-model="info.reason" required>
    </div>
    <div class="req_mesg" ng-show="horizontal.reason.$dirty && horizontal.reason.$invalid">
        <span ng-show="horizontal.reason.$error.required">错误原因不能为空</span>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">解决方案：</label>
    <div class="col-sm-4">
        <textarea rows="10" class="form-control" style="min-width: 350px;" cols="30" ng-model="info.solution"></textarea>
    </div>
</div>


<!-- <div class="form-group">
    <label class="col-sm-2 control-label">收单机构：</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="sourceOrg" ng-model="info.sourceOrg" >
    </div>
</div> -->

<div class="form-group">
<label class="col-sm-2 control-label">收单机构：</label>
							<div class="col-sm-2">
								<select class="form-control" ng-model="info.sourceOrg" ng-options="x.acqEnname as x.acqName for x in acqOrgs"/>
</div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">收单机构错误编号：</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="sourceCode" ng-model="info.sourceCode" >
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">收单机构错误信息：</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="sourceMsg" ng-model="info.sourceMsg" >
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">收单机构错误备注：</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="sourceRemark" ng-model="info.sourceRemark" >
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">生效状态：</label>
    <div class="col-sm-2">
        <select class="form-control"  ng-model="info.status" ng-options="x.value as x.text for x in statusType" />
    </div>
</div>