<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>管理中心</a></li>
            <li class="active"><strong>定时任务监控预警人员管理</strong></li>
        </ol>
    </div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn"
     ng-controller="taskWarningPeopleCtrl">
    <form class="form-horizontal" id="form1" name="horizontal">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新增预警人员</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">手机号:</label>
                        <div class="col-sm-3">
                            <select name="autocomplete-select" id="autocomplete-select" ng-model="addInfo.id" ng-options="x.id as x.telNo+'  '+x.realName for x in userList" style="width: 100%" chosen chosen-data="userList" chosen-keyup="getselectUser">
                            </select>
                        </div>
                        <div class="col-sm-7">
                            <button class="btn btn-primary5 btn-mr20" style="width:150px;" type="button" ng-click="addWarningPeople()">加入预警人员</button>
                            <button class="btn btn-primary4 btn-rounded" type="button" ui-sref="sys.timedTask">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div ui-view="warningPeopleCenter"></div>
        </div>
    </form>
</div>