<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>商户管理</a></li>
			<li class="active"><strong>商户迁移</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app
	ng-controller="merchantMigrateCtrl">
	<form class="form-horizontal" id="form1">
			<div class="row">
				<div class="col-lg-12">
					<div class="">
						<div class="panel-body ibox float-e-margins">
							<div class="ibox-title">
								<h5>商户转移查询</h5>
							</div>
							<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-2 control-label">目标一级代理商：</label>
									<div class="col-sm-2">
										<select name="autocomplete-select" id="autocomplete-select" ng-model="info.agentNo" ng-options="x.value as x.text for x in oneAgentList"
												style="width: 100%" chosen chosen-data="oneAgentList" chosen-keyup="getOneAgentStates" ng-change="getNodeAgent()">
										</select>
									</div>
									<label class="col-sm-2 control-label">目标直属代理商：</label>
									<div class="col-sm-2">
										<select name="autocomplete-select" id="autocomplete-select1" ng-model="info.nodeAgentNo" ng-options="x.value as x.text for x in agentList"
												style="width: 100%" chosen chosen-data="agentList" chosen-keyup="getAgentStates">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">申请人：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" maxlength="5" ng-model="info.createPerson">
									</div>
									<label class="col-sm-2 control-label">申请时间:</label>
									<div class="col-sm-5">
										<input id="d5231" class="form-control" type="datetime" ng-model="info.sTime" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="var d5232=$dp.$('d5232');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5232.focus();},maxDate:'#F{$dp.$D(\'d5232\')}'})"/>
										~
										<input id="d5232" class="form-control" type="datetime"  ng-model="info.eTime" onchange=""  style="width:auto;display:inline-block;"
											   onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5231\')}'})"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">状态：</label>
									<div class="col-sm-2">
										<select id="info_checkStatus" class="form-control" chosen chosen-data="checkStatus" ng-model="info.checkStatus" ng-options="x.value as x.text for x in checkStatus"/>
									</div>
									<label class="col-sm-2 control-label">关联OA单号：</label>
									<div class="col-sm-2">
										<input class="form-control" ng-model="info.oaNo" maxlength="30">
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-12">
										<div class="col-sm-2"></div>
										<button class="btn btn-primary6 btn-mr20" type="button"	ng-click="query()"	id="btnSubmit1">查询</button>
										<button class="btn btn-primary3 btn-mr20" type="button"	ng-click="clear(true)" id="btnSubmit2">清空</button>
										<button class="btn btn-primary5 btn-mr20" type="button"	ui-sref="merchant.addMigrate" id="btnSubmit3">新增</button>
									</div>
								</div>
							</div>
						</div>
						
						<div class="panel-body ibox float-e-margins">
								<div class="ibox-title">
									<h5>商户转移信息列表</h5>
									</div>
								<div class="ibox-content">
									<div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-pagination ui-grid-selection ui-grid-pinning class="grid"></div>
								</div>
							</div>
						<div style="height: 30px"></div>
					</div>
				</div>
			</div>
	</form>
</div>