<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>交易查询</a></li>
			<li class="active"><strong>{{name}}</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="queryTradeDetailCtrl">
	<form class="form-horizontal" id="form1">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>交易信息</h5>
					</div>
					<div class="ibox-content">

						<div class="form-group">
							<label class="col-sm-2 control-label">订单编号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.orderNo"></div>
							<label class="col-sm-2 control-label">交易时间：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.transTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
							<label class="col-sm-2 control-label">交易状态：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.transStatus | formatDropping:transStatus"></div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">业务产品：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.bpName"></div>
							<label class="col-sm-2 control-label">服务种类：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.serviceName"></div>
							<label class="col-sm-2 control-label">机具类型：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.typeName"></div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">交易卡号：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.accountNo}} &nbsp;&nbsp;<button ng-click="getDetailShow()" ng-show="dataSta&&hasPermit('trade.showMobile')">显示</button></div>
							<label class="col-sm-2 control-label">交易币种：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.currencyType"></div>
							<label class="col-sm-2 control-label">交易金额：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.transAmount | currency:''"></div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">卡种：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.cardType |formatDropping:cardType"></div>
							<label class="col-sm-2 control-label">发卡行：</label>
							<div class="col-sm-2 checkbox" ng-bind="pcb.bankName"></div>
							<label class="col-sm-2 control-label">卡类型：</label>
							<div class="col-sm-2 checkbox" ng-bind="pcb.cardName"></div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">交易方式：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.payMethod |formatDropping:payMethodType"></div>
							<label class="col-sm-2 control-label">响应码：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.resMsg"></div>
							<label class="col-sm-2 control-label">集群编号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.groupCode"></div>
						</div>

					</div>
					
				</div>

				
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>商户信息</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">一级代理商名称：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.agentName}}({{infoDetail.oneAgentNo}})</div>
							<label class="col-sm-2 control-label">一级代理商所属销售：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.saleName}}</div>
							<label class="col-sm-2 control-label">经营地址：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.address}}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">商户名称：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.merchantName}}({{infoDetail.merchantNo}})</div>
							<label class="col-sm-2 control-label">商户类型：</label>
							<div class="col-sm-2 checkbox" ng-bind="merchantTypes(infoDetail.merchantType)"></div>
							<label class="col-sm-2 control-label">商户手机号：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.mobilephone}} &nbsp;&nbsp;<button ng-click="getDetailShow()" ng-show="dataSta&&hasPermit('trade.showMobile')">显示</button></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">机具SN号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.deviceSn"></div>
							<label class="col-sm-2 control-label">批次号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.batchNo"></div>
							<label class="col-sm-2 control-label">流水号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.serialNo"></div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">签约扣率：</label>
							<div class="col-sm-2 checkbox" ng-show="(!infoDetail.zxRate||infoDetail.zxRate==0)&&!infoDetail.vasRate" ng-bind="infoDetail.merchantRate"></div>
							<div class="col-sm-2 checkbox" ng-show="(infoDetail.zxRate&&infoDetail.zxRate!=0)&&!infoDetail.vasRate">{{infoDetail.merchantRate}}+{{infoDetail.zxRate}}</div>
							<div class="col-sm-2 checkbox" ng-show="(!infoDetail.zxRate||infoDetail.zxRate==0)&&infoDetail.vasRate">{{infoDetail.merchantRate}}+{{infoDetail.vasRate}}</div>
							<div class="col-sm-2 checkbox" ng-show="(infoDetail.zxRate&&infoDetail.zxRate!=0)&&infoDetail.vasRate">{{infoDetail.merchantRate}}+{{infoDetail.zxRate}}+{{infoDetail.vasRate}}</div>
							<label class="col-sm-2 control-label">手续费：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.merchantFee}}元</div>
							<label class="col-sm-2 control-label">结算日期：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.merchantSettleDate | date:'yyyy-MM-dd'"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">抵扣交易手续费：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.deductionFee"></div>
							<label class="col-sm-2 control-label">实际交易手续费：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.actualFee}}元</div>
							<label class="col-sm-2 control-label">券编号：</label>
							<div class="col-sm-2 checkbox" ng-bind="coupNo"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">优享(二)手续费：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.merchantPrice}}元</div>
							<label class="col-sm-2 control-label">抵扣优享(二)手续费：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.deductionMerFee}}元</div>
							<label class="col-sm-2 control-label">实际优享(二)手续费：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.actualMerchantPrice}}元</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">保费:</label>
							<div class="col-sm-2 checkbox">{{infoDetail.nPrm}}元</div>
							<label class="col-sm-2 control-label">是否优享:</label>
							<div class="col-sm-2 checkbox" ng-show="infoDetail.transTypeExt==2">是</div>
							<div class="col-sm-2 checkbox" ng-show="infoDetail.transTypeExt!=2">否</div>
						</div>
					</div>
				</div>
				
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>收单机构信息</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">收单机构名称：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqEnname"></div>
							<label class="col-sm-2 control-label">收单商户名称：</label>
							<div class="col-sm-2 checkbox">{{infoDetail.acqMerchantName}}({{infoDetail.acqMerchantNo}})</div>
							<label class="col-sm-2 control-label">收单服务种类：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqServiceType"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">收单机构终端号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqTerminalNo"></div>
							<label class="col-sm-2 control-label">收单机构批次号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqBatchNo"></div>
							<label class="col-sm-2 control-label">凭证号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqSerialNo"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">收单机构结算日期：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqSettleDate | date:'yyyy-MM-dd'"></div>
							<label class="col-sm-2 control-label">参考号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqReferenceNo"></div>
							<label class="col-sm-2 control-label">授权号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.acqAuthNo"></div>
						</div>
					</div>
				</div>
				
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>结算信息</h5>
					</div>
					<div class="ibox-content">
						
						<div class="form-group">
							<label class="col-sm-2 control-label">结算周期：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.settlementMethod |formatDropping:settlementMethods"></div>
							<label class="col-sm-2 control-label">结算状态：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.settleStatus |formatDropping:settleStatus "></div>
							<label class="col-sm-2 control-label">商户结算日期：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.merchantSettleDate | date:'yyyy-MM-dd'"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">结算卡银行：</label>
							<div class="col-sm-2 checkbox" ng-bind="pcb1.bankName"></div>
							<label class="col-sm-2 control-label">结算卡号：</label>
							<div class="col-sm-2 checkbox">{{pcb1.bankNo}} &nbsp;&nbsp;<button ng-click="getDetailShow()" ng-show="dataSta&&hasPermit('trade.showMobile')">显示</button></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">结算错误编号：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.settleErrCode"></div>
							<label class="col-sm-2 control-label">结算错误信息：</label>
							<div class="col-sm-2 checkbox" ng-bind="infoDetail.settleMsg"></div>
						</div>
					</div>
				</div> 
				
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>结算记录</h5>
						<div ibox-tools ></div>
					</div>
					<div class="ibox-content" style="height:0; overflow: hidden; padding: 0 20px;">
						<div class="form-group">
							 <div ui-grid="settleInfoRecord" ui-grid-resize-columns class="grid" style="height: 200px;"></div>
						</div>
					</div>
				</div>
				
				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>最近操作</h5>
						<div ibox-tools ></div>
					</div>
					<div class="ibox-content" style="height:0; overflow: hidden; padding: 0 20px;">
						<div class="form-group">
							 <div ui-grid="tradeInfoRecord" ui-grid-resize-columns class="grid" style="height: 200px;"></div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-title">
						<h5>活动记录</h5>
						<div ibox-tools ></div>
					</div>
					<div class="ibox-content" style="height:0; overflow: hidden; padding: 0 20px;">
						<div class="form-group">
							<div ui-grid="orderEventGrid" ui-grid-resize-columns class="grid" style="height: 200px;"></div>
						</div>
					</div>
				</div>

				<div class="panel-body ibox float-e-margins">
					<div class="ibox-content">
						<div class="form-group">
							<button ng-show="val==1" type="submit" class="btn btn-new" ng-click="solutionModalOk()">解冻</button>
							<a class="btn btn-primary4 btn-rounded" type="button" ui-sref="trade.tradeQuery">返回</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</form>
</div>
