<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a>主页</a></li>
			<li><a>产品服务</a></li>
			<li class="active"><strong>业务产品详情</strong></li>
		</ol>
	</div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn"
	ng-controller="productDetailCtrl">
	<form class="form-horizontal" id="form1">
		<div class="form-group">
			<div class="row">
				<div class="tabs-container tab_other">
					<div class="col-lg-12">
						<uib-tabset> <uib-tab> <uib-tab-heading>
						<span class="block m-t-xs"> <i class="fa fa-laptop"></i> <strong
							class="font-bold">基本信息</strong>
						</span> </uib-tab-heading>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">业务产品名称：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="baseInfo.bpName" readonly>
								</div>
								<label class="col-sm-2 control-label">代理商展示名称：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="baseInfo.agentShowName" readonly>
								</div>
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-2">
									<label><input type="checkbox" ng-model='baseInfo.relyHardware'  ng-true-value="1" ng-false-value="0" disabled/>
										<span class="">依赖硬件</span>
									</lable>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">类型：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model='baseInfo.bpType' ng-options="x.value as x.text for x in type" disabled>
									</select>
								</div>
								
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-2">
									<label><input type="checkbox" ng-model='baseInfo.notCheck' ng-true-value="'1'" ng-false-value="'0'"
										 disabled/><span class="">证件资料完整时无需人工审核</span></lable>
								</div>
								<div class="col-sm-2">
									<label><input type="checkbox" ng-model='baseInfo.allowWebItem'  ng-true-value="1" ng-false-value="0" disabled/><span class="">允许在web端进件</span></lable>
								</div>
								<div class="col-sm-2">
									<label><input type="checkbox" ng-model='baseInfo.allowIndividualApply'  ng-true-value="1" ng-false-value="0" disabled/><span class="">允许单独申请</span></lable><!-- <span class="req_mesg">(此属性暂未生效)</span> -->
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">可销售日期：</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" date-time view="date"  min-view="date" format="YYYY-MM-DD" ng-model="baseInfo.saleStarttime"
									disabled="disabled">
								</div>
								<label class="col-sm-1 control-label">~</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" date-time view="date"  min-view="date" format="YYYY-MM-DD" ng-model="baseInfo.saleEndtime"
									disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">可否代理：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="baseInfo.proxy" ng-options="x.value as x.text for x in bool" disabled>
									</select>
								</div>
								<label class="col-sm-2 control-label">群组号：</label>
								<div class="col-sm-2">
									<input type="text" class="form-control" ng-model="baseInfo.groupNo" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">是否OEM：</label>
								<div class="col-sm-2">
									<select class="form-control" ng-model="baseInfo.isOem" ng-options="x.value as x.text for x in bool" disabled>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">所属组织：</label>
								<div class="col-sm-2">
								<input type="text" class="form-control" ng-model="baseInfo.teamName" readonly>
								</div>
								<label class="col-sm-2 control-label">自动开通关联业务产品：</label>
								 <div class="col-sm-2">
									<input type="text" class="form-control" ng-model="baseInfo.linkProductName" readonly>
								</div>
								<div ng-show="baseInfo.teamId=='200010'">
									<label class="col-sm-2 control-label">关联自营业务产品：</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="baseInfo.ownBpName" readonly>
										<span class="req_mesg">(此属性暂未生效)</span>
									</div>
								</div>
							</div>
							<!-- <div class="form-group">
								<label class="col-sm-2 control-label">二维码：</label>
								<div class="col-sm-4">
									<div ng-hide="twoCodeHide">
										<br>
										<img alt="" ng-src="{{baseInfo.twoCodeUrl}}" style="width: 198px;height: 100px">
									</div>
								</div>
							</div> -->
							<div class="form-group">
								<label class="col-sm-2 control-label">关联硬件产品：</label>
								<div class="col-sm-4">
								<select class="form-control" ng-model="baseInfo.limitHard" ng-options="x.value as x.text for x in isLimitHard" disabled>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"/>	
								<div class="col-sm-4" ng-show="baseInfo.limitHard=='1'">
									<div style="height: 207px"  class="gridStyle" ui-grid="hardsGrid" ui-grid-resize-columns class="grid"></div>
								</div>	
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">业务产品简介：</label>
								<div class="col-sm-8">
					<textarea rows="5" cols="20" class="form-control" ng-model="baseInfo.remark" readonly></textarea>
				</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">宣传图片：</label>
								<div class="col-sm-4">
								 	<div ng-hide="bpImgHide">
									 	<br>
										<img alt="" ng-src="{{baseInfo.bpImgUrl}}" style="width: 198px;height: 100px">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">业务产品介绍链接：</label>
								<div class="col-sm-8">
									<a href="{{baseInfo.link}}" class="checkbox" target="_blank" >{{baseInfo.link}}</a>
								</div>
							</div>
						</div>
						</uib-tab> <uib-tab> <uib-tab-heading> <span
							class="block m-t-xs"> <i class="fa fa-desktop"></i> <strong
							class="font-bold">服务明细</strong>
						</span> </uib-tab-heading>
						<div class="panel-body">
							<div    class="gridStyle col-sm-4" ui-grid="servicesGrid" ui-grid-resize-columns class="grid"></div>
						</div>
						</uib-tab> <uib-tab> <uib-tab-heading> <span
							class="block m-t-xs"> <i class="fa fa-desktop"></i> <strong
							class="font-bold">进件要求项明细</strong>
						</span> </uib-tab-heading>
						<div class="panel-body">
							<div class="gridStyle col-sm-4" ui-grid="itemsGrid" ui-grid-resize-columns class="grid"></div>
						</div>
						</uib-tab> </uib-tabset>
				</div>
				</div>
			</div>
			<div class="col-lg-12 bgff">
				<div class="col-sm-12">
					<div class="col-sm-2"></div>
					<div class="col-sm-6"><a class="btn btn-primary4 btn-rounded btn-block" type="button" ui-sref="service.queryProduct"
											 id="btnSubmit">返回</a></div>
				</div>
			</div>
		</div>
	</form>

</div>