<!-- 导航URL -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>集群中收单商户</a></li>
            <li class="active"><strong>导入删除</strong></li>
        </ol>
    </div>
</div>


<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="routerOrgBatchDeleteCtrl">
    <form class="form-horizontal" name="horizontal">
        <div class="row">
            <div class="col-lg-12">

                <div class="panel-body ibox float-e-margins">

                    <div class="ibox-title">
                        <h5>导入删除</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">导入文件:</label>
                            <div class="col-sm-3">
                                <input type="file" nv-file-select="" ng-model="fileSelect" uploader="uploader" multiple/>
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td>
                                            <strong>{{ item.file.name }}</strong>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span>删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm-3">
                                <a href="routerOrg/routerOrgBatchDeleteTemplate" >批量删除导入模板</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 bgff">
            <div class="col-lg-12">
                <label class="col-sm-2"></label>
                <button class="btn btn-primary btn-rounded btn-mr20" type="submit"
                        ng-disabled="horizontal.$invalid || uploader.queue.length==0 || submitting"
                        ng-click="acqMerBatchColseimport()">提交</button>
                <a class="btn btn-primary4 btn-rounded" type="button" ui-sref="org.routerOrg" >返回</a>
            </div>
        </div>
    </form>

    <form class="form-horizontal" id="form2" name="horizontalMsg" novalidate>
        <div id="importMsg" class="modal fade" tabindex="2050" role="dialog">
            <div class="modal-dialog" style="width:900px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;</button>
                        <h3 class="modal-title">导入删除</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">导入删除结果:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="6" cols="10" ng-model="mgsInfo" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="showModel" class="modal fade" tabindex="3" role="dialog">
        <form class="form-horizontal" id="form3">
            <div class="modal-dialog" style="width: 900px">
                <div class="modal-content" style="width: 900px">
                    <div class="ibox-title">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-show="!isShow">
                            <div class="col-sm-10">
                                <span>确认删除？</span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="isShow">
                            <div class="col-sm-10">
                                <span>删除后，</span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="isShow">
                            <div class="col-sm-10">
                                <textarea class="form-control" style="height: 200px;" ng-disabled="true" ng-model="deleteText"></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-show="isShow">
                            <div class="col-sm-10">
                                <span>你确定删除该收单商户吗？</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"></label>
                            <div class="col-lg-12" align="center">
                                <button class="btn btn-primary btn-mr20" type="button" ng-click="deleteOp()" >确定</button>
                                <button class="btn btn-primary4 btn-mr20" type="button" ng-click="closeShowModel()" >取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
