<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close" ng-click="solutionModalClose()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="myModalLabel" ng-bind="title"></h4>
</div>
<div class="modal-body">

	<form>
		<div class="form-group">
			<label class="col-sm-4 control-label" ng-bind="message"></label>
		</div>
	</form>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="solutionModalClose()">关闭</button>
	<button type="button" class="btn btn-primary" ng-click="solutionModalOk()">确定</button>
</div>