<!-- 超级银行家用户管理页面 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>超级盟主</a></li>
            <li class="active"><strong>商品管理</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="goodAllAgentQueryCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="ibox-title">
                                <h5>商品管理</h5>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品编号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.goodsCode">
                                </div>
                                <label class="col-sm-2 control-label">商品标题:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.goodsName">
                                </div>
                                <label class="col-sm-2 control-label">状态:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.status" ng-options="x.value as x.text for x in statusSelect"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属品牌:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.brandCode" ng-options="x.value as x.text for x in oemList"/>
                                </div>
                                <label class="col-sm-2 control-label">创建时间:</label>
                                <div class="col-sm-5">
                                    <input id="d5231" class="form-control" type="datetime" ng-model="info.createTimeBegin" onchange=""  style="width:auto;display:inline-block;"
                                           onFocus="var d5232=$dp.$('d5232');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5232.focus();},maxDate:'#F{$dp.$D(\'d5232\')}'})"/>
                                    ~
                                    <input id="d5232" class="form-control" type="datetime"  ng-model="info.createTimeEnd" onchange=""  style="width:auto;display:inline-block;"
                                           onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5231\')}'})"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名单状态:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.listType" ng-options="x.value as x.text for x in list_type"/>
                                </div>
                                <label class="col-sm-2 control-label">商品分类:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.groupCode" ng-options="x.value as x.text for x in goodsGroupList"/>
                                </div>
                                <label class="col-sm-2 control-label">商品类型:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.shipWay" ng-options="x.value as x.text for x in shipWayes"/>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 30px">
                                <div class="col-sm-8">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="btn btn-primary6 btn-mr20" type="button" ng-click="query()" >查询</button>
                                    <button class="btn btn-primary3 btn-mr20" type="button" ng-click="clear()" >清空</button>
                                    <a class="btn btn-primary5 btn-mr20" type="button" ng-show="hasPermit('goodAllAgent.addGood')" target="_blank" ui-sref="allAgent.goodAdd"  >新增</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="ibox-content">
                                <div class="form-group">
                                    <div class="gridStyle" ui-grid="userGrid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-pinning></div>
                                    <div ng-show="loadImg" class="timg"></div>
                                </div>
                            </div>
                        </div>
                        <div style="height:30px"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>